.brand-d {
    &__content {
        padding-bottom: 5rem;
        border-bottom: 0.1rem solid #aaaaaa;
        margin-bottom: 5rem;
        @media (max-width: 48em) {
            margin-bottom: 3.2rem;
        }
    }

    &__title {
        margin-bottom: 5rem;
        width: 128.2rem;
        @media (max-width: 48em) {
            width: 100%;
        }
    }

    &__logo {
        width: fit-content;
        height: fit-content;
        img {
            object-fit: contain;
        }
    }

    &__text {
        display: flex;
        column-gap: 5rem;
        margin-bottom: 5rem;
        @media (max-width: 48em) {
            flex-direction: column;
            margin-bottom: 12rem;
        }
        p:first-child {
            margin-right: 3.2rem;
            @media (max-width: 48em) {
                margin-right: 0;
                margin-bottom: 2rem;
            }
        }
        p {
            width: 55.2rem;
            @media (max-width: 48em) {
                width: 100%;
            }
        }

        .btn {
            margin-left: auto;
            @media (max-width: 48em) {
                margin-top: 4.8rem;
            }
        }
    }

    &__image {
        width: 55.2rem;
        height: 62.8rem;
        @media (max-width: 48em) {
            width: 100%;
            height: 80.8rem;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__swiper {
        height: 128rem;
        @media (max-width: 48em) {
            height: auto;
            margin-bottom: 4.8rem;
        }
    }
}
