.hero {
    &_franchising {
        .hero {
            &__swiper-wrapper {
                &.swiper-wrapper {
                    height: auto;

                    @media (min-width: 48em) {
                        display: grid;
                        grid-template-columns: repeat(3, 1fr);
                    }
                }
            }
            &__head {
                justify-content: flex-start;

                @media (min-width: 48em) {
                    margin-bottom: 0;
                }
            }
            &__heading {
                text-transform: uppercase;
                span {
                    text-transform: uppercase;
                }
            }

            &__carousel {
                &::after {
                    content: none;
                }
            }
        }
        .swiper-slide-hero {
            &__image-wrap {
                height: 67.8rem;

                @media (min-width: 48em) {
                    padding: 3.2rem;
                    padding-bottom: 0;

                    height: 53rem;
                }
            }

            @media (min-width: 48em) {
                &:first-child {
                    .swiper-slide-hero__image-wrap {
                        padding-left: 0;
                    }
                }
                &:last-child {
                    .swiper-slide-hero__image-wrap {
                        padding-right: 0;
                    }
                }
                &:not(:last-child) {
                    border-right: 1px solid $gray;
                }
            }
        }
    }

    &__container {
        display: flex;
        flex-direction: column;
    }

    &__head {
        padding: 0.8rem 0;
        margin-bottom: 4rem;

        display: flex;
        justify-content: center;

        border-bottom: 1px solid $gray;

        text-align: center;

        @media (max-width: 48em) {
            margin-bottom: 3.2rem;
            padding: 3.2rem 0;
        }
    }

    &__head-simple {
        justify-content: space-between;
        align-items: baseline;
        @media (max-width: 48em) {
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }

    &__head-simple-btn {
        top: -2rem;
        @media (max-width: 48em) {
            top: initial;
            margin-top: 2rem;
        }
    }

    &__swiper-wrapper {
        &.swiper-wrapper {
            height: 74.5rem;

            @media (max-width: 48em) {
                height: 94rem;
            }
        }
    }

    &__carousel {
        position: relative;

        &::after {
            content: "";

            position: absolute;
            z-index: 2;
            top: 0;
            left: 0;

            width: 100%;
            height: 100%;

            background: linear-gradient(180deg, rgba(23, 23, 23, 0) 60.32%, rgba(23, 23, 23, 0.3) 95.17%);
        }

        @media (max-width: 48em) {
            margin-bottom: 4.8rem;
        }
    }

    &__carousel-brands {
        position: absolute;
        z-index: 3;
        left: 0;
        bottom: 10rem;

        width: 100%;

        @media (min-width: 48em) {
            bottom: 5.2rem;

            padding: 0 10.8rem;
        }
    }

    &__carousel-pagination {
        @media (min-width: 48em) {
            display: none;
        }
    }
}

.carousel-brands-hero {
    height: 10.4rem;

    @media (min-width: 48em) {
        display: flex;
        justify-content: space-between;
        align-items: center;
        column-gap: 10.6rem;

        height: auto;
    }

    &__item {
        position: absolute;
        top: 0;
        left: 50%;

        opacity: 0;

        transform: translateX(-50%);

        transition: opacity 0.8s ease;

        svg {
            height: 10.4rem;
            width: 37rem;
        }

        &._is-active {
            opacity: 1;
        }

        @media (min-width: 48em) {
            position: static;

            flex: 1 1 auto;

            opacity: 0.1;

            transform: none;

            svg {
                width: 100%;
                height: 8.2rem;
            }
        }
    }
}

.swiper-slide-hero {
    display: flex;

    &__image-wrap {
        height: 100%;
    }

    &__image {
        height: 100%;

        object-fit: cover;
    }
}
