.not-found {
    margin-bottom: 0;

    border-bottom: 1px solid $gray;

    @media (max-width: 48em) {
        margin-bottom: 4.8rem;

        padding-top: 6.4rem;

        border-bottom: none;
    }

    &__container {
        display: flex;
        flex-direction: column;
        gap: 6.4rem;

        @media (min-width: 48em) {
            flex-direction: row;
            justify-content: space-between;
            gap: 20.2rem;
        }
    }

    &__body {
        display: flex;
        flex-direction: column;
        align-items: center;

        text-align: center;

        @media (min-width: 48em) {
            margin: auto;

            justify-content: center;
            height: 100%;
        }
    }

    &__heading {
        @media (max-width: 48em) {
            margin-bottom: 3.2rem;

            font-size: 18.8rem;
            line-height: 22rem;
        }
    }

    &__text {
        margin-bottom: 3.2rem;

        @media (min-width: 48em) {
            max-width: 47.4rem;
        }
    }

    &__carousel {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 3rem;
        height: 66.4rem;
        border-bottom: 1px solid $gray;

        overflow: hidden;

        @media (min-width: 48em) {
            column-gap: 3.2rem;
            width: 84.4rem;
            height: 80rem;
            border: none;
        }
    }

    &__swiper {
        height: 100%;
    }

    &__swiper-wrapper {
        &.swiper-wrapper {
            transition-timing-function: linear;
        }
    }
}

.slide-not-found {
    display: flex;

    &.swiper-slide {
        height: 50rem;

        @media (max-width: 48em) {
            height: 42rem;
        }
    }

    &__image-wrap,
    &__image {
        height: 100%;
    }

    &__image {
        object-fit: cover;
    }
}
