.sale {
    &__container {
        display: flex;
        flex-direction: column;
    }

    &__head {
        --opacity: 0;

        position: relative;

        margin-bottom: 4.5rem;

        display: flex;
        align-items: center;
        justify-content: space-between;

        @media (min-width: 48em) {
            justify-content: stretch;
            column-gap: 3.2rem;

            height: 10.9rem;
            &::after {
                content: '';

                position: absolute;
                bottom: -4.5rem;
                left: 0;

                width: 100%;
                height: 1px;

                background-color: $gray;

                opacity: var(--opacity);
            }
        }
    }

    &__heading {
        display: flex;
        width: 100%;

        white-space: nowrap;
        text-transform: uppercase;

        @media (max-width: 48em) {
            width: auto;

            white-space: normal;
            font-size: 5.2rem;
            line-height: 6rem;
            text-transform: uppercase;
            color: $red;
        }
    }

    &__heading-txt {
        &_left {
            margin-right: auto;

            @media (max-width: 48em) {
                margin-right: 1rem;
            }
        }
    }

    &__body {
        display: flex;

        @media (max-width: 48em) {
            flex-direction: column;
        }
    }

    &__badge {
        @media (min-width: 48em) {
            display: none;
        }
    }

    &__image-wrap {
        @media (min-width: 48em) {
            position: absolute;
            top: -2.3rem;

            height: 15.2rem;
        }
    }

    &__image {
        height: 100%;

        object-fit: cover;
    }

    &__image-container {
        margin-bottom: 4rem;

        height: 35rem;

        @media (min-width: 48em) {
            margin-bottom: 0;

            flex: 0 0 113.9rem;

            height: 56rem;
        }
    }

    &__content {
        --width: 0;

        position: relative;

        padding: 0 0 4rem 0;

        display: flex;
        flex-direction: column;
        row-gap: 4rem;
        border-bottom: 1px solid $gray;

        @media (min-width: 48em) {
            padding: 3.2rem 4.7rem 3.2rem 3.2rem;

            justify-content: flex-end;
            align-items: flex-start;
            row-gap: 3.2rem;
            border-bottom: none;

            &::before,
            &::after {
                content: '';

                position: absolute;
                left: 0;

                width: 100%;
                height: 1px;

                background-color: $gray;

                transform: scaleX(var(--width));
                transform-origin: left;
            }

            &::before {
                top: 0;
            }

            &::after {
                bottom: 0;
            }
        }
    }

    &__list {
        display: flex;
        flex-direction: column;
        row-gap: 1.6rem;

        @media (max-width: 48em) {
            row-gap: 4rem;
        }
    }

    &__list-item {
        position: relative;

        padding-left: 2.4rem;

        font-weight: 500;
        text-transform: none;

        &::before {
            content: '';

            position: absolute;
            top: 1.4rem;
            left: 0;

            width: 1.2rem;
            height: 1.2rem;
            border-radius: 50%;

            background-color: $red;
        }

        @media (max-width: 48em) {
            padding-left: 4.8rem;

            max-width: 69rem;

            &::before {
                top: 50%;

                width: 2.4rem;
                height: 2.4rem;

                transform: translateY(-50%);
            }
        }
    }
}
