.show-d {

    &__wrapper {
        border: 0.1rem solid #AAAAAA;
        display: flex;
        @media (max-width: 48em) { 
            flex-direction: column;
        }
    }

    &__left {
        border-right: 0.1rem solid #AAAAAA;
        padding: 3.2rem;
        width: 55.2rem;
        @media (max-width: 48em) { 
            border-right: none;
            width: 100%;
            border-bottom: 0.1rem solid #AAAAAA;
        }
    }


    &__right {
        position: relative;
        padding: 3.2rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        .swiper {
            
            margin-left: initial;
            margin-right: initial;
           
        }
    }

    &__btn {
        position: absolute;
        right: 3.2rem;
        top: 3.2rem;

        @media (max-width: 48em) { 
            position: initial;
        }
    }

    &__slide-image {
        width: 48.8rem;
        height: 53.7rem;
        @media (max-width: 48em) { 
           width: 100%;
           height: 71rem;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

    }

    &__right-swiper  {
        width: 66.4rem;
        margin: 0;
        margin-left: initial;
        margin-right: initial;
        margin-top: auto;

        @media (max-width: 48em) { 
            width: 100%;
            
        }
    }

    &__right-navigation {
        display: flex;
        position: absolute;
        left: 3.2rem;
        top: 3.2rem;
        @media (max-width: 48em) { 
            display: none;
        }
    }

    &__right-navigation-prev {
        margin-right: 2.4rem;
    }

    &__right-navigation-prev,
    &__right-navigation-next {
        width: 6rem;
        height: 6rem;
        border-radius: 50%;
        border: 0.1rem solid #DA251E;
        display: flex;
        justify-content: center;
        align-items:center;
        cursor: pointer;
        svg {
            width: 3.2rem;
            height: 1.2rem;
        }
    }

    &__left-bullets {
        display: none;
    }

    &__right-content {
        display: flex;
        flex-direction: column;
        @media (max-width: 48em) { 
            margin-bottom: 5.6rem;
        }
        strong {
            display: block;
            font-size: 4.8rem;
            font-weight: 500;
            line-height: 5.6rem;
            text-align: left;
            margin-bottom: 2.4rem;
            @media (max-width: 48em) { 
                font-size: 5.2rem;
                margin-bottom: 3.2rem;
            }
        }

        p {
         
            font-size: 2rem;
            font-weight: 400;
            line-height: 2.3rem;
            text-align: left;
            @media (max-width: 48em) { 
             
                font-size: 3.2rem;
                font-weight: 400;
                line-height: 3.6rem;
                text-align: left;

            }

        }
    }

    .swiper-horizontal {
        height: auto;
    }

    &__swiper {
        @media (max-width: 48em) { 
            margin-bottom: 4.8rem;
        }
    }

   
}