.shop-hero {
    &__container {
        display: flex;
        border-bottom: 1px solid $gray;

        @media (max-width: 48em) {
            flex-direction: column;
            border-bottom: none;
        }
    }

    &__body {
        margin-bottom: 11rem;
        padding-top: 3.2rem;

        display: flex;
        flex-direction: column;

        @media (min-width: 48em) {
            margin-bottom: 0;

            flex: 1 1 auto;
        }
    }

    &__heading {
        margin-bottom: 2.4rem;

        @media (max-width: 48em) {
            margin-bottom: 3.2rem;
        }
    }

    &__text {
        @media (min-width: 48em) {
            max-width: 77rem;
        }
    }

    &__bg {
        padding: 3.2rem 0 3.2rem 3.2rem;

        border-left: 1px solid $gray;

        @media (max-width: 48em) {
            padding: 3.2rem 0;

            border-left: none;
            border-top: 1px solid $gray;
            border-bottom: 1px solid $gray;
        }
    }

    &__bg-image {
        height: 52.8rem;

        object-fit: cover;

        @media (min-width: 48em) {
            height: 100%;
            width: 82.8rem;
            min-height: 50rem;
        }
    }

    &__logos {
       display: flex;
       justify-content: space-between;
       width: 160rem;
       margin: 0 auto;
    }

    &__logo {
        max-height: 38rem;
        width: 100%;
        img {
            height: auto;
            width: auto;
            margin: 0 auto;
            object-fit: contain;
        }
    }
}
