.steps {
    &__container {
        display: flex;
        flex-direction: column;
    }

    &__head {
        margin-bottom: 5rem;
    }

    &__swiper-wrapper {
        @media (min-width: 48em) {
            &.swiper-wrapper {
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                grid-auto-rows: 33.6rem;
                gap: 3.2rem;
            }
        }
    }
}

.slide-steps {
    padding: 3.2rem;

    border: 1px solid $gray;

    &.swiper-slide {
        display: flex;
        flex-direction: column;

        @media (max-width: 48em) {
            height: 49.2rem;
            width: 60rem;
        }
    }

    &::after {
        content: '';

        align-self: flex-end;
        width: 1.8rem;
        height: 1.8rem;
        border-radius: 50%;

        background-color: $red;

        @media (max-width: 48em) {
            width: 2.4rem;
            height: 2.4rem;
        }
    }

    &__head {
        margin-bottom: 2.4rem;

        display: flex;
        column-gap: 2.4rem;

        @media (max-width: 48em) {
            margin-bottom: 4.8rem;

            column-gap: 4.8rem;
        }
    }

    &__heading {
        text-transform: none;
    }

    &__icon {
        display: inline-flex;

        svg {
            width: 3.2rem;
            height: 3.2rem;

            @media (max-width: 48em) {
                width: 6.4rem;
                height: 6.4rem;
            }
        }
    }

    &__body {
        flex: 1 1 auto;
    }

    &__text {
        color: $gray;
    }
}
