.stores-grid {
    &__container {
    }

    &__items {
        display: grid;
        gap: 20rem;
        width: 100%;

        @media (min-width: 48em) {
            grid-template-columns: repeat(2, 1fr);
            gap: 3.2rem;
        }
    }

    &__group {
        display: flex;
        flex-direction: column;

        @media (any-hover: hover) {
            &:hover {
                .stores-grid {
                    &__image-wrap {
                        &::after {
                            opacity: 1;
                        }
                    }
                    &__btn {
                        opacity: 1;
                        visibility: visible;
                    }
                }
            }
        }

        @media (min-width: 48em) {
            position: relative;

            flex-direction: row;
            height: 82.8rem;
        }
    }

    &__image-wrap {
        position: relative;

        height: 100%;
        width: 100%;

        &::after {
            content: '';

            position: absolute;
            top: 0;
            left: 0;

            width: 100%;
            height: 100%;

            background: rgba(30, 30, 30, 0.3);

            opacity: 0;

            transition: opacity 0.5s ease;
        }

        @media (max-width: 48em) {
            margin-bottom: 5.6rem;

            height: 96rem;
        }
    }

    &__image {
        height: 100%;

        object-fit: cover;
        object-position: top;
    }

    &__btn {
        @media (min-width: 48em) {
            position: absolute;
            z-index: 2;
            top: 50%;
            left: 50%;

            transform: translate(-50%, -50%);

            opacity: 0;
            visibility: hidden;

            transition:
                opacity 0.5s ease,
                visibility 0.5s ease;
        }
    }
}
