.tabs {
    &__navigation {
        display: flex;
        column-gap: 1.8rem;

        @media (max-width: 48em) {
            column-gap: 3.6rem;
        }
    }

    &__body {
        padding-top: 1rem;
    }
}

.tab {
    position: relative;

    color: $gray;

    transition:
        color 0.5s ease,
        padding-left 0.3s ease;

    &._is-active {
        padding-left: 3.4rem;

        color: $red;

        &::before {
            transform: scale(1);
        }

        @media (max-width: 48em) {
            padding-left: 4.8rem;
        }
    }

    &::before {
        content: '';

        position: absolute;
        top: 0.8rem;
        left: 0;

        width: 1.8rem;
        height: 1.8rem;
        border-radius: 50%;

        background-color: $red;

        transform: scale(0);

        transition: transform 0.5s ease;

        @media (max-width: 48em) {
            top: 1rem;

            width: 2.4rem;
            height: 2.4rem;
        }
    }

    &__txt {
        font-family: 'Roboto Condensed';
        font-weight: 500;
        font-size: 2.8rem;
        line-height: 3.3rem;

        @media (max-width: 48em) {
            font-size: 4rem;
            line-height: 4.6rem;
        }
    }
}
