@import '../sections/mission';
@import '../sections/history';
@import '../sections/about-p';
@import '../sections/show-d';
@import '../sections/brand';
@import '../sections/show-b';
@import '../sections/brand-d';
@import '../sections/application-btn';
@import '../sections/simple-d';
@import '../sections/advantages-s';
@import '../sections/contacts-p';
