@import '../sections/hero';
@import '../sections/about';
@import '../sections/activities';
@import '../sections/sale';
@import '../sections/career';
@import '../sections/contacts-map';
@import '../sections/about-franchising';
@import '../sections/facts';
@import '../sections/economy';
@import '../sections/advantages';
@import '../sections/shops';
@import '../sections/steps';
@import '../sections/faq';
@import '../sections/brands';
@import '../sections/shop-hero';
@import '../sections/shops-grid';
@import '../sections/wholesale-hero';
@import '../sections/conditions';
@import '../sections/request';
@import '../sections/shops-hero';
@import '../sections/about-shops';
