<section class="about-franchising">
    <div class="about-franchising__container container">
        <span class="about-franchising__heading h h_h1"
            >Несколько важных слов о нашем подходе  к франчайзингу</span
        >
        <div class="about-franchising__text-wrap">
            <p class="about-franchising__text txt20">
                Уже более 20 лет мы - MODA PER BAMDINI профессионально представляем европейские бренды детской
                одежды. При этом, в направление франчайзинг мы передаем только те проекты, которые полностью
                проверены и опробованы на нашей собственной рознице, а это означает, что были пройдены все
                механизмы адаптации концепции и бизнес- модели. В первую очередь нашей компании важна
                финансовая устойчивость каждого магазина
            </p>
        </div>
    </div>
</section>
