<section id="about-shops-screen" class="about-shops">
    <div class="about-shops__container container">
        <div class="about-shops__image-wrap">
            <img
                class="about-shops__image"
                src="./assets/images/bg/24_PE_TH4_UnWeekendEnProvence_Shooting_Kids_1457.webp"
                alt=""
            />
        </div>
        <div class="about-shops__content">
            <p class="about-shops__text txt20">
                Мы оперируем как мультиканальный холдинг, включающий розничное, франчайзинговое, e-com
                направления, сохраняя оптовое подразделение по каждому из брендов портфеля.
            </p>
            <ul class="about-shops__list">
                <li class="about-shops__list-item">
                    <span class="about-shops__heading h h_h1">22</span>
                    <span class="about-shops__list-item-text txt20">магазина в топовых ТЦ</span>
                </li>
                <li class="about-shops__list-item">
                    <span class="about-shops__heading h h_h1">20</span>
                    <span class="about-shops__list-item-text txt20">лет опыт в ретейле</span>
                </li>
                <li class="about-shops__list-item">
                    <span class="about-shops__heading h h_h1">6</span>
                    <span class="about-shops__list-item-text txt20"
                        >вропейских брендов  в фирменных концепциях</span
                    >
                </li>
            </ul>
            <a href="#" class="about-shops__btn btn btn_secondary">
                <span class="btn__txt">узнать больше</span>
            </a>
        </div>
    </div>
</section>
