<section id="about-screen" class="about">
    <div class="about__container container">
        <div class="about__head">
            <span class="about__heading h h_h1 _desktop-only"
                ><span data-text="Мы строим бизнес-сообщество, наполненное новыми"
                    >Мы строим бизнес-сообщество, наполненное новыми</span
                >
                <span data-text="интересными инновационными идеями, с партнерами,"
                    >интересными инновационными идеями, с партнерами,</span
                >
                <span data-text="которые любят всё, что относится к миру детской моды."
                    >которые любят всё, что относится к миру детской моды.</span
                ></span
            >
            <span class="about__heading h h_h1 _mobile-only"
                >Мы строим бизнес-сообщество, наполненное новыми интересными инновационными идеями, с
                партнерами, которые любят всё, что относится к миру детской моды.</span
            >
        </div>
        <div class="about__body">
            <div class="about__image-wrap">
                <img
                    src="./assets/images/bg/24ad39c1f40c09f812a87512cd3dda41.webp"
                    alt=""
                    class="about__image"
                />
            </div>
            <div class="about__content">
                <div class="about__text">
                    <p class="about__message txt20">
                        Мы оперируем как мультиканальный холдинг, включающий розничное, франчайзинговое, e-com
                        направления, сохраняя оптовое подразделение по каждому из брендов портфеля.
                    </p>
                    <p class="about__message txt20">
                        Мы нацелены на выстраивание широкой партнерской сети среди тех, кто также как и мы
                        любит детскую моду, но рассматривает все бизнес-процессы с полной серьезностью.
                    </p>
                </div>
                <ul class="about__numbers numbers-about">
                    <li class="numbers-about__item">
                        <span class="numbers-about__heading h h_h1">17</span>
                        <span class="numbers-about__text txt20">магазинов  в собственной рознице</span>
                    </li>
                    <li class="numbers-about__item">
                        <span class="numbers-about__heading h h_h1">16</span>
                        <span class="numbers-about__text txt20">магазинов франчайзинг </span>
                    </li>
                    <li class="numbers-about__item">
                        <span class="numbers-about__heading h h_h1">170</span>
                        <span class="numbers-about__text txt20">оптовых партнеров</span>
                    </li>
                </ul>
                <a href="#" class="about__btn btn btn_primary">
                    <span class="btn__txt">О компании</span>
                </a>
            </div>
        </div>
    </div>
</section>
