<section class="about-p">
    <div class="container">
        <div class="about-p__title h h_large">
            О компании
        </div>
        <div class="about-p__wrapper">
            <div class="about-p__text">
                <p>ИмпортТрейд – один из крупнейших операторов на рынке детской одежды, специализирующийся на известных и высококачественных брендах одежды и обуви из Европы. Компания была создана более двадцати лет назад как оптовое представительство.</p>
                <p>К настоящему моменту компания оперирует как мультиканальный холдинг, включающий розничное, франчайзинговое, e-com направления, сохраняя оптовое подразделение по каждому из брендов портфеля. Работа в основном ведется с брендами в среднем/среднем+ ценовых сегментах.</p>
            </div>
            <div class="about-p__image">
                <img class="desk" src="./assets/images/about-company/pe.webp" alt="">
                <img class="mob" src="./assets/images/about-company/pemob.webp" alt="">
            </div>
        </div>
    </div>
</section>