<section id="activities-screen" class="activities">
    <div class="activities__container container">
        <div class="activities__head">
            <span class="activities__heading h h_h1">Наши направления</span>
        </div>
        <div data-accordion-tabs class="activities__body">
            <div class="activities__tabs">
                <div class="activities__tab">
                    <button type="button" data-accordion-tabs-item class="activities__tab-title tab">
                        <span class="tab__txt">Франчайзинг</span>
                        <span class="activities__tab-icon">
                            <svg><use href="#sel-arr"></use></svg>
                        </span>
                    </button>
                    <div data-accordion-tabs-content class="activities__tab-content">
                        <div class="activities__inner franchising-activities">
                            <div class="franchising-activities__image-wrap">
                                <img
                                    class="franchising-activities__image"
                                    src="./assets/images/bg/adf20063007478d8896c87a85ca9fd25.webp"
                                    alt=""
                                />
                            </div>
                            <div class="franchising-activities__content">
                                <div class="franchising-activities__description">
                                    <p class="franchising-activities__description-txt txt20">
                                        В портфель шоу-рума MODA PER BAMBINI также  входит
                                        франчайзинговый  проект BRUMS и MEK.
                                    </p>
                                    <p class="franchising-activities__description-txt txt20">
                                        Мы оказываем всестороннюю помощь в открытии и развитии фирменных
                                        магазинов различных форматов
                                    </p>
                                </div>
                                <a href="#" class="franchising-activities__btn btn btn_secondary">
                                    <span class="btn__txt">Узнать больше</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="activities__tab">
                    <button type="button" data-accordion-tabs-item class="activities__tab-title tab">
                        <span class="tab__txt">Оптовое направление</span>
                        <span class="activities__tab-icon">
                            <svg><use href="#sel-arr"></use></svg>
                        </span>
                    </button>
                    <div data-accordion-tabs-content class="activities__tab-content">
                        <div class="activities__inner wholesale-activities">
                            <div class="wholesale-activities__content">
                                <div class="wholesale-activities__head">
                                    <div class="wholesale-activities__description txt20">
                                        <span class="wholesale-activities__subtitle"
                                            >Новый адрес ШОУ-РУМА:
                                        </span>
                                        <p class="wholesale-activities__text">
                                            историческая центральная часть Москвы, в 1 км от Кремля
                                            Чистопрудный бульвар, 14с3, 18
                                        </p>
                                    </div>
                                    <ul class="wholesale-activities__brands">
                                        <li class="wholesale-activities__brand">
                                            <a href="#" class="wholesale-activities__brand-wrap">
                                                <svg><use href="#original-marines-color-logo"></use></svg>
                                            </a>
                                        </li>
                                        <li class="wholesale-activities__brand">
                                            <a href="#" class="wholesale-activities__brand-wrap">
                                                <svg><use href="#jacadi-color-logo"></use></svg>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <ul class="wholesale-activities__images">
                                    <li class="wholesale-activities__image-wrap">
                                        <img
                                            src="./assets/images/bg/cf6b266587bb0fef1ed00da9be65cd7f.webp"
                                            alt=""
                                            class="wholesale-activities__image"
                                        />
                                    </li>
                                    <li class="wholesale-activities__image-wrap">
                                        <img
                                            src="./assets/images/bg/46b4c1c5a44ca707b1e715d3d9678be8.webp"
                                            alt=""
                                            class="wholesale-activities__image"
                                        />
                                    </li>
                                    <li class="wholesale-activities__image-wrap _desktop-only">
                                        <img
                                            src="./assets/images/bg/2f184ab7b892c41fdeb0b22a9253b544.webp"
                                            alt=""
                                            class="wholesale-activities__image"
                                        />
                                    </li>
                                </ul>
                            </div>
                            <a href="#" class="wholesale-activities__btn btn btn_secondary">
                                <span class="btn__txt">Узнать больше</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="activities__tab">
                    <button type="button" data-accordion-tabs-item class="activities__tab-title tab">
                        <span class="tab__txt">Розничное направление</span>
                        <span class="activities__tab-icon">
                            <svg><use href="#sel-arr"></use></svg>
                        </span>
                    </button>
                    <div data-accordion-tabs-content class="activities__tab-content">
                        <div class="activities__inner retail-activities">
                            <ul class="retail-activities__images">
                                <li class="retail-activities__image-wrap">
                                    <img
                                        class="retail-activities__image"
                                        src="./assets/images/bg/Snapinsta.app_363355475_665538108934582_7942361129659640408_n_1080.webp"
                                        alt=""
                                    />
                                </li>
                                <li class="retail-activities__image-wrap">
                                    <img
                                        class="retail-activities__image"
                                        src="./assets/images/bg/NET Desktop KIDS Very Chic.webp"
                                        alt=""
                                    />
                                </li>
                                <li class="retail-activities__image-wrap">
                                    <img
                                        class="retail-activities__image"
                                        src="./assets/images/bg/DUBLIN 01-2261.webp"
                                        alt=""
                                    />
                                </li>
                                <li class="retail-activities__image-wrap">
                                    <img
                                        class="retail-activities__image"
                                        src="./assets/images/bg/Snapinsta.app_396905847_713779264110466_1369972698737319548_n_1080.webp"
                                        alt=""
                                    />
                                </li>
                            </ul>
                            <div class="retail-activities__description">
                                <div class="retail-activities__text-wrap">
                                    <p class="retail-activities__text txt20">
                                        Шоу-рум MODA PER BAMBINI имеет в собственном управлении сеть магазинов
                                        детской одежды и аксессуаров BRUMS и MEK
                                    </p>
                                </div>
                                <a href="#" class="retail-activities__btn btn btn_secondary">
                                    <span class="btn__txt">Узнать больше</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="activities__tab">
                    <button type="button" data-accordion-tabs-item class="activities__tab-title tab">
                        <span class="tab__txt">Интернет-магазин</span>
                        <span class="activities__tab-icon">
                            <svg><use href="#sel-arr"></use></svg>
                        </span>
                    </button>
                    <div data-accordion-tabs-content class="activities__tab-content">
                        <div class="activities__inner shop-activities">
                            <div class="shop-activities__content">
                                <ul class="shop-activities__images">
                                    <li class="shop-activities__image-wrap">
                                        <img
                                            class="shop-activities__image"
                                            src="./assets/images/bg/REPARTI_NO_30102023.webp"
                                            alt=""
                                        />
                                    </li>
                                    <li class="shop-activities__image-wrap">
                                        <img
                                            class="shop-activities__image"
                                            src="./assets/images/bg/frame_84.webp"
                                            alt=""
                                        />
                                    </li>
                                    <li class="shop-activities__image-wrap _desktop-only">
                                        <img
                                            class="shop-activities__image"
                                            src="./assets/images/bg/Macro Desktop-BA.webp"
                                            alt=""
                                        />
                                    </li>
                                </ul>
                                <div class="shop-activities__description">
                                    <p class="shop-activities__text txt20">
                                        Шоу-рум MODA PER BAMBINI имеет в собственном управлении сеть магазинов
                                        детской одежды и аксессуаров BRUMS и MEK
                                    </p>
                                </div>
                            </div>
                            <a href="#" class="shop-activities__btn btn btn_secondary">
                                <span class="btn__txt">Узнать больше</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div data-accordion-tabs-body class="activities__tab-container"></div>
        </div>
    </div>
</section>
