<section class="advantages-s">
    <div class="container">
        <div class="advantages-s__title">
            <span>Преимущества SAMPLE SALE</span>
        </div>
        <div class="advantages-s__wrapper">
            <div class="advantages-s__box">
                <div class="advantages-s__box-image">
                    <img src="./assets/images/simple/sim1.png" alt="">
                </div>
            </div>
            <div class="advantages-s__box">
                <div class="advantages-s__box-text">
                    <strong>17</strong>
                    <span>магазинов
                        в собственной рознице</span>
                </div>
            </div>
            <div class="advantages-s__box">
                <div class="advantages-s__box-image">
                    <img src="./assets/images/simple/sim2.png" alt="">
                </div>
            </div>
            <div class="advantages-s__box">
                <div class="advantages-s__box-text">
                    <strong>16</strong>
                    <span>магазинов франчайзинг
                    </span>
                </div>
            </div>
            <div class="advantages-s__box">
                <div class="advantages-s__box-text">
                    <strong>ТОП 4</strong>
                    <span> онлайн - магазина
                    </span>
                </div>
            </div>
            <div class="advantages-s__box">
                <div class="advantages-s__box-image">
                    <img src="./assets/images/simple/sim3.png" alt="">
                </div>
            </div>
            <div class="advantages-s__box">
                <div class="advantages-s__box-text">
                    <strong>170</strong>
                    <span> оптовых партнеров
                    </span>
                </div>
            </div>
            <div class="advantages-s__box">
                <div class="advantages-s__box-image">
                    <img src="./assets/images/simple/sim4.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>