<section data-heading-body-st class="advantages">
    <div class="advantages__container container">
        <div data-heading-st class="advantages__head">
            <span class="advantages__heading h h_h1">Преимущества работы с нами</span>
        </div>
        <div data-body-st class="advantages__body">
            <div class="advantages__swiper swiper">
                <ul class="advantages__swiper-wrapper swiper-wrapper">
                    <li class="advantages__swiper-slide slide-advantages swiper-slide">
                        <div class="slide-advantages__image-wrap">
                            <img
                                class="slide-advantages__image"
                                src="./assets/images/bg/db991d7939c1571d6747423926e679b8.webp"
                                alt=""
                            />
                        </div>
                        <div class="slide-advantages__content">
                            <div class="slide-advantages__head">
                                <div class="slide-advantages__icon">
                                    <svg
                                        width="56"
                                        height="56"
                                        viewBox="0 0 56 56"
                                        fill="none"
                                        xmlns="http://www.w3.org/2000/svg"
                                    >
                                        <circle cx="23" cy="33" r="23" fill="#DA251E" />
                                        <circle cx="33" cy="23" r="22.5" stroke="#1E1E1E" />
                                    </svg>
                                </div>
                                <span class="slide-advantages__heading h h_h1">17</span>
                            </div>
                            <div class="slide-advantages__text">
                                <span class="slide-advantages__text-content txt20"
                                    >магазинов в собственной рознице</span
                                >
                            </div>
                        </div>
                    </li>
                    <li class="advantages__swiper-slide slide-advantages swiper-slide">
                        <div class="slide-advantages__image-wrap">
                            <img
                                class="slide-advantages__image"
                                src="./assets/images/bg/Boboli_Campaign_Nature_SS24_Low.webp"
                                alt=""
                            />
                        </div>
                        <div class="slide-advantages__content">
                            <div class="slide-advantages__head">
                                <div class="slide-advantages__icon">
                                    <svg
                                        width="56"
                                        height="56"
                                        viewBox="0 0 56 56"
                                        fill="none"
                                        xmlns="http://www.w3.org/2000/svg"
                                    >
                                        <circle cx="23" cy="33" r="23" fill="#DA251E" />
                                        <circle cx="33" cy="23" r="22.5" stroke="#1E1E1E" />
                                    </svg>
                                </div>
                                <span class="slide-advantages__heading h h_h1">16</span>
                            </div>
                            <div class="slide-advantages__text">
                                <span class="slide-advantages__text-content txt20"
                                    >магазинов франчайзинг</span
                                >
                            </div>
                        </div>
                    </li>
                    <li class="advantages__swiper-slide slide-advantages swiper-slide">
                        <div class="slide-advantages__image-wrap">
                            <img
                                class="slide-advantages__image"
                                src="./assets/images/bg/Boboli_AW23_Editorials_5_Wind.webp"
                                alt=""
                            />
                        </div>
                        <div class="slide-advantages__content">
                            <div class="slide-advantages__head">
                                <div class="slide-advantages__icon">
                                    <svg
                                        width="56"
                                        height="56"
                                        viewBox="0 0 56 56"
                                        fill="none"
                                        xmlns="http://www.w3.org/2000/svg"
                                    >
                                        <circle cx="23" cy="33" r="23" fill="#DA251E" />
                                        <circle cx="33" cy="23" r="22.5" stroke="#1E1E1E" />
                                    </svg>
                                </div>
                                <span class="slide-advantages__heading h h_h1">ТОП 4</span>
                            </div>
                            <div class="slide-advantages__text">
                                <span class="slide-advantages__text-content txt20"> онлайн - магазина</span>
                            </div>
                        </div>
                    </li>
                    <li class="advantages__swiper-slide slide-advantages swiper-slide">
                        <div class="slide-advantages__image-wrap">
                            <img
                                class="slide-advantages__image"
                                src="./assets/images/bg/Boboli_CampaignNatures_tempo_SS24_Low.webp"
                                alt=""
                            />
                        </div>
                        <div class="slide-advantages__content">
                            <div class="slide-advantages__head">
                                <div class="slide-advantages__icon">
                                    <svg
                                        width="56"
                                        height="56"
                                        viewBox="0 0 56 56"
                                        fill="none"
                                        xmlns="http://www.w3.org/2000/svg"
                                    >
                                        <circle cx="23" cy="33" r="23" fill="#DA251E" />
                                        <circle cx="33" cy="23" r="22.5" stroke="#1E1E1E" />
                                    </svg>
                                </div>
                                <span class="slide-advantages__heading h h_h1">170</span>
                            </div>
                            <div class="slide-advantages__text">
                                <span class="slide-advantages__text-content txt20">оптовых партнеров</span>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
