<section class="brand-d">
    <div class="container">
        <div class="brand-d__content">
            <div class="brand-d__title h_h1">Original Marines – это всегда самые последние решения талантливых дизайнеров, в работе которых чувствуется итальянский характер, стиль и качество.</div>
            <div class="brand-d__logo">
                <img src="./assets/images/brand-d/logo.svg" alt="">
            </div>
        </div>
        <div class="brand-d__wrapper">
            <div class="brand-d__text">
                <p>Бренд использует все инновационные разработки, которые появляются на рынке: splash-effects (рисунок на куртке проявляется под водой), термо-чувствительные ткани.</p>
                <p>Original Marines более 40 лет одевает детей во всем мире  Original Marines предлагает красивую, стильную и удобную детскую одежду и обувь с рождения и до 14 лет. </p>
                <button class="show-b__btn btn btn_primary">
                    <span class="btn__txt">разместить заказ</span>
                </button>
            </div>
            <div class="brand-d__swiper swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="brand-d__image">
                            <img src="./assets/images/brand-d/slide1.png" alt="">
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="brand-d__image">
                            <img src="./assets/images/brand-d/slide2.png" alt="">
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="brand-d__image">
                            <img src="./assets/images/brand-d/slide3.png" alt="">
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="brand-d__image">
                            <img src="./assets/images/brand-d/slide4.png" alt="">
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="brand-d__image">
                            <img src="./assets/images/brand-d/slide5.png" alt="">
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="brand-d__image">
                            <img src="./assets/images/brand-d/slide6.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="brand-d__carousel-pagination carousel-pagination"></div>
        </div>
    </div>
</section>