<section class="brand">
    <div class="container">
        <div class="brand__title">
            <span>МЫ АКТИВНО РАЗВИВАЕМСЯ <br>И НАМ ЕСТЬ ЧЕМ ГОРДИТЬСЯ!</span>
            <div class="brand__title-text">
                <p>МПБ Ритейл Групп — это сеть розничных магазинов детской одежды и обуви известных итальянских, испанских и французских брендов.</p>
                <p>Мы работаем не только в России, но и по всему СНГ,представляя только высококачественные европейские бренды, которые уже зарекомендовали себя лидерами европейского рынка, завоевав доверие и признание клиентов безупречным качеством, узнаваемым стилем и отличным ценовым предложением.</p>
            </div>
        </div>
        <div class="brand__wrapper">
            <a href="#" class="brand__box">
                <div class="brand__box-image">
                    <img src="./assets/images/brand/box1.png" alt="">
                </div>
                <div class="brand__box-logo">
                    <img src="./assets/images/brand/logo1.svg" alt="">
                </div>
            </a>
            <div class="brand__c">
                <div class="brand__c-image">
                    <img src="./assets/images/brand/box2.png" alt="">
                </div>
            </div>
            <a href="#" class="brand__box">
                <div class="brand__box-image">
                    <img src="./assets/images/brand/box3.png" alt="">
                </div>
                <div class="brand__box-logo">
                    <img src="./assets/images/brand/logo2.svg" alt="">
                </div>
            </a>
            <a href="#" class="brand__box brand__box--boboli">
                <div class="brand__box-image">
                    <img src="./assets/images/brand/box4.png" alt="">
                </div>
                <div class="brand__box-logo">
                     <img class="brand__box-logo-desk" src="./assets/images/brand/logocolor3.svg" alt="">
                    <img class="brand__box-logo-mob" src="./assets/images/brand/logo3.svg" alt="">
                </div>
            </a>
            <div class="brand__c">
                <div class="brand__c-image">
                    <img src="./assets/images/brand/box5.png" alt="">
                </div>
            </div>
            <a href="#" class="brand__box ">
                <div class="brand__box-image">
                    <img src="./assets/images/brand/box6.png" alt="">
                </div>
                <div class="brand__box-logo">
                   <img src="./assets/images/brand/logo4.svg" alt="">
                </div>
            </a>
            <div class="brand__c">
                <div class="brand__c-image">
                    <img src="./assets/images/brand/box7.png" alt="">
                </div>
            </div>
            <a href="#" class="brand__box ">
                <div class="brand__box-image">
                    <img src="./assets/images/brand/box8.png" alt="">
                </div>
                <div class="brand__box-logo">
                   <img src="./assets/images/brand/logo5.svg" alt="">
                </div>
            </a>
        </div>
    </div>
</section>