<section id="brands-screen" class="brands">
    <div class="brands__container container">
        <div class="brands__content">
            <div class="brands__info">
                <span class="brands__heading h h_h1">Наши бренды и ассортимент</span>
                <div class="brands__swiper-navigation">
                    <button type="button" class="i-btn i-btn_arr-prev _has-hover">
                        <svg
                            width="32"
                            height="12"
                            viewBox="0 0 32 12"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                        >
                            <path d="M32 6H2M2 6L7 1M2 6L7 11" stroke="#DA251E" stroke-width="1.5" />
                        </svg>
                    </button>
                    <button type="button" class="i-btn i-btn_arr-next _has-hover">
                        <svg
                            width="32"
                            height="12"
                            viewBox="0 0 32 12"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                        >
                            <path d="M0 6H30M30 6L25 1M30 6L25 11" stroke="#DA251E" stroke-width="1.5" />
                        </svg>
                    </button>
                </div>
                <div class="brands__text-wrap fw-light">
                    <p class="brands__paragraph">
                        Одежда и аксессуары для новорожденных, одежда для детей до трех лет: повседневная,
                        нарядная, спортивная, нижнее белье, верхняя одежда, одежда для детей и подростков до
                        14 лет.
                    </p>
                    <p class="brands__paragraph">
                        Кроме одежды мы производим аксессуары, обувь, нижнее белье и пижамы.
                    </p>
                </div>
            </div>
            <div class="brands__images">
                <div class="brands__group">
                    <div class="brands__image-wrap">
                        <img
                            class="brands__image"
                            src="./assets/images/bg/24ad39c1f40c09f812a87512cd3dda41.webp"
                            alt=""
                        />
                    </div>
                    <div class="brands__image-wrap">
                        <img class="brands__image" src="./assets/images/bg/REPARTI_BA_30102023.webp" alt="" />
                    </div>
                </div>
                <div class="brands__group">
                    <div class="brands__image-wrap">
                        <img
                            class="brands__image"
                            src="./assets/images/bg/24ad39c1f40c09f812a87512cd3dda41.webp"
                            alt=""
                        />
                    </div>
                    <div class="brands__image-wrap">
                        <img class="brands__image" src="./assets/images/bg/REPARTI_BA_30102023.webp" alt="" />
                    </div>
                </div>
                <div class="brands__group">
                    <div class="brands__image-wrap">
                        <img
                            class="brands__image"
                            src="./assets/images/bg/24ad39c1f40c09f812a87512cd3dda41.webp"
                            alt=""
                        />
                    </div>
                    <div class="brands__image-wrap">
                        <img class="brands__image" src="./assets/images/bg/REPARTI_BA_30102023.webp" alt="" />
                    </div>
                </div>
                <div class="brands__group">
                    <div class="brands__image-wrap">
                        <img
                            class="brands__image"
                            src="./assets/images/bg/24ad39c1f40c09f812a87512cd3dda41.webp"
                            alt=""
                        />
                    </div>
                    <div class="brands__image-wrap">
                        <img class="brands__image" src="./assets/images/bg/REPARTI_BA_30102023.webp" alt="" />
                    </div>
                </div>
                <div class="brands__group">
                    <div class="brands__image-wrap">
                        <img
                            class="brands__image"
                            src="./assets/images/bg/24ad39c1f40c09f812a87512cd3dda41.webp"
                            alt=""
                        />
                    </div>
                    <div class="brands__image-wrap">
                        <img class="brands__image" src="./assets/images/bg/REPARTI_BA_30102023.webp" alt="" />
                    </div>
                </div>
            </div>
        </div>
        <div class="brands__carousel">
            <div class="brands__swiper swiper">
                <ul class="brands__swiper-wrapper swiper-wrapper">
                    <li class="brands__swiper-slide slide-brands swiper-slide">
                        <div class="slide-brands__icon">
                            <svg><use href="#original-marines-text-color-logo"></use></svg>
                        </div>
                    </li>
                    <li class="brands__swiper-slide slide-brands swiper-slide">
                        <div class="slide-brands__icon">
                            <svg><use href="#boboli-color-logo"></use></svg>
                        </div>
                    </li>
                    <li class="brands__swiper-slide slide-brands swiper-slide">
                        <div class="slide-brands__icon">
                            <svg><use href="#jacadi-color-logo"></use></svg>
                        </div>
                    </li>
                    <li class="brands__swiper-slide slide-brands swiper-slide">
                        <div class="slide-brands__icon">
                            <svg><use href="#sergent-major-color-logo"></use></svg>
                        </div>
                    </li>
                    <li class="brands__swiper-slide slide-brands swiper-slide">
                        <div class="slide-brands__icon">
                            <svg><use href="#dpam-color-logo"></use></svg>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="brands__carousel-pagination carousel-pagination"></div>

            <a href="#" class="brands__btn btn btn_secondary">
                <span class="btn__txt">бренды</span>
            </a>
        </div>
    </div>
</section>
