<section class="career">
    <div class="career__container container">
        <div class="career__bg">
            <img
                class="career__bg-image"
                src="./assets/images/bg/4c7ec60c39c7f1299c816c4c29b730bf.webp"
                alt=""
            />
        </div>
        <div class="career__content">
            <div class="career__text">
                <span class="career__heading h h_h1">Карьера</span>
                <p class="career__description txt20">
                    Мы приглашаем новых сотрудников присоединиться к нашей команде! Мы ищем талантливых и
                    целеустремленных специалистов, готовых воплощать свои идеи в жизнь и развиваться  вместе с
                    нами.
                </p>
                <a href="#" class="career__btn btn btn_primary">
                    <span class="btn__txt">Узнать больше</span>
                </a>
            </div>
            <div class="career__image-wrap">
                <img
                    src="./assets/images/bg/cf6b266587bb0fef1ed00da9be65cd7f.webp"
                    alt=""
                    class="career__image"
                />
            </div>
        </div>
    </div>
</section>
