<section id="conditions-screen" class="conditions">
    <div class="conditions__container container">
        <div class="conditions__head">
            <span class="conditions__heading h h_h1">Условия</span>
        </div>
        <div data-accordion-tabs="tabs" class="conditions__body">
            <div class="conditions__tabs accordion-tabs">
                <div class="accordion-tabs__tab">
                    <button type="button" data-accordion-tabs-item class="accordion-tabs__title tab">
                        <span class="tab__txt">Предзаказ</span>
                        <span class="tab__icon">
                            <svg><use href="#sel-arr"></use></svg>
                        </span>
                    </button>
                    <div
                        data-accordion-tabs-content
                        class="accordion-tabs__content conditions-accordion-tabs"
                    >
                        <div class="conditions-accordion-tabs__body">
                            <div class="conditions-accordion-tabs__main">
                                <div class="conditions-accordion-tabs__info">
                                    <div class="conditions-accordion-tabs__image-wrap">
                                        <img
                                            src="./assets/images/bg/frame_84.webp"
                                            alt=""
                                            class="conditions-accordion-tabs__image"
                                        />
                                    </div>
                                    <div class="conditions-accordion-tabs__info-box">
                                        <span class="conditions-accordion-tabs__heading txt20"
                                            >График проведения торговых кампаний сезона Весна-Лето 2023:</span
                                        >
                                        <ul class="conditions-accordion-tabs__list">
                                            <li class="conditions-accordion-tabs__list-item txt20">
                                                <span class="conditions-accordion-tabs__label">Boboli</span>
                                                <span class="conditions-accordion-tabs__text"
                                                    >4 Июля-26 Августа</span
                                                >
                                            </li>
                                            <li class="conditions-accordion-tabs__list-item txt20">
                                                <span class="conditions-accordion-tabs__label">Primigi</span>
                                                <span class="conditions-accordion-tabs__text"
                                                    >4 Июля-26 Августа
                                                </span>
                                            </li>
                                            <li class="conditions-accordion-tabs__list-item txt20">
                                                <span class="conditions-accordion-tabs__label"
                                                    >Original Marines</span
                                                >
                                                <span class="conditions-accordion-tabs__text"
                                                    >1 Августа-26 Августа</span
                                                >
                                            </li>
                                            <li class="conditions-accordion-tabs__list-item txt20">
                                                <span class="conditions-accordion-tabs__label">DPAM</span>
                                                <span class="conditions-accordion-tabs__text"
                                                    >1 Сентября-1 Октября</span
                                                >
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <p class="conditions-accordion-tabs__text txt20">
                                    С нами вы можете разместить предзаказ коллекций будущих сезонов
                                    понравившегося вам бренда в период проведения соответствующей торговой
                                    кампании. Сделать отборку и разместить заказ можно как в шоу-руме, так и
                                    дистанционно (онлайн)
                                </p>
                            </div>
                            <div class="conditions-accordion-tabs__footer footer-conditions-accordion-tabs">
                                <ul class="footer-conditions-accordion-tabs__list txt20">
                                    <li class="footer-conditions-accordion-tabs__list-item">
                                        <span class="footer-conditions-accordion-tabs__label"
                                            >Минимальный заказ:</span
                                        >
                                        <span class="footer-conditions-accordion-tabs__text"
                                            ><span>строго от 400 единиц на бренд</span> (Primigi – 200
                                            пар)</span
                                        >
                                    </li>
                                    <li class="footer-conditions-accordion-tabs__list-item">
                                        <span class="footer-conditions-accordion-tabs__label"
                                            >Обеспечительный платеж:</span
                                        >
                                        <span class="footer-conditions-accordion-tabs__text"
                                            ><span>10% от суммы заказа</span></span
                                        >
                                    </li>
                                </ul>
                                <div class="footer-conditions-accordion-tabs__image-wrap">
                                    <img
                                        class="footer-conditions-accordion-tabs__image"
                                        src="./assets/images/bg/df2323fghhukkkh.webp"
                                        alt=""
                                    />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="accordion-tabs__tab">
                    <button type="button" data-accordion-tabs-item class="accordion-tabs__title tab">
                        <span class="tab__txt">Свободный склад</span>
                        <span class="tab__icon">
                            <svg><use href="#sel-arr"></use></svg>
                        </span>
                    </button>
                    <div
                        data-accordion-tabs-content
                        class="accordion-tabs__content conditions-accordion-tabs"
                    >
                        <div class="conditions-accordion-tabs__body">
                            <div class="conditions-accordion-tabs__main">
                                <div class="conditions-accordion-tabs__info">
                                    <div class="conditions-accordion-tabs__image-wrap">
                                        <img
                                            src="./assets/images/bg/frame_84.webp"
                                            alt=""
                                            class="conditions-accordion-tabs__image"
                                        />
                                    </div>
                                    <div class="conditions-accordion-tabs__info-box">
                                        <span class="conditions-accordion-tabs__heading txt20"
                                            >График проведения торговых кампаний сезона Весна-Лето 2023:</span
                                        >
                                        <ul class="conditions-accordion-tabs__list">
                                            <li class="conditions-accordion-tabs__list-item txt20">
                                                <span class="conditions-accordion-tabs__label">Boboli</span>
                                                <span class="conditions-accordion-tabs__text"
                                                    >4 Июля-26 Августа</span
                                                >
                                            </li>
                                            <li class="conditions-accordion-tabs__list-item txt20">
                                                <span class="conditions-accordion-tabs__label">Primigi</span>
                                                <span class="conditions-accordion-tabs__text"
                                                    >4 Июля-26 Августа
                                                </span>
                                            </li>
                                            <li class="conditions-accordion-tabs__list-item txt20">
                                                <span class="conditions-accordion-tabs__label"
                                                    >Original Marines</span
                                                >
                                                <span class="conditions-accordion-tabs__text"
                                                    >1 Августа-26 Августа</span
                                                >
                                            </li>
                                            <li class="conditions-accordion-tabs__list-item txt20">
                                                <span class="conditions-accordion-tabs__label">DPAM</span>
                                                <span class="conditions-accordion-tabs__text"
                                                    >1 Сентября-1 Октября</span
                                                >
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <p class="conditions-accordion-tabs__text txt20">
                                    С нами вы можете разместить предзаказ коллекций будущих сезонов
                                    понравившегося вам бренда в период проведения соответствующей торговой
                                    кампании. Сделать отборку и разместить заказ можно как в шоу-руме, так и
                                    дистанционно (онлайн)
                                </p>
                            </div>
                            <div class="conditions-accordion-tabs__footer footer-conditions-accordion-tabs">
                                <ul class="footer-conditions-accordion-tabs__list txt20">
                                    <li class="footer-conditions-accordion-tabs__list-item">
                                        <span class="footer-conditions-accordion-tabs__label"
                                            >Минимальный заказ:</span
                                        >
                                        <span class="footer-conditions-accordion-tabs__text"
                                            ><span>строго от 400 единиц на бренд</span> (Primigi – 200
                                            пар)</span
                                        >
                                    </li>
                                    <li class="footer-conditions-accordion-tabs__list-item">
                                        <span class="footer-conditions-accordion-tabs__label"
                                            >Обеспечительный платеж:</span
                                        >
                                        <span class="footer-conditions-accordion-tabs__text"
                                            ><span>10% от суммы заказа</span></span
                                        >
                                    </li>
                                </ul>
                                <div class="footer-conditions-accordion-tabs__image-wrap">
                                    <img
                                        class="footer-conditions-accordion-tabs__image"
                                        src="./assets/images/bg/df2323fghhukkkh.webp"
                                        alt=""
                                    />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div data-accordion-tabs-body class="faq__tab-container"></div>
        </div>
    </div>
</section>
