<section id="contacts-screen" class="contacts-map">
    <div class="contacts-map__container container">
        <span class="contacts-map__heading h h_h1">Контакты</span>
        <div class="contacts-map__body">
            <div class="contacts-map__content">
                <ul class="contacts-map__list">
                    <li class="contacts-map__list-item">
                        <span class="contacts-map__text">г. Москва, ул. Бауманская, д.11 строение 8</span>
                        <span class="contacts-map__label txt20">Адрес</span>
                    </li>
                    <li class="contacts-map__list-item">
                        <a href="tel:74997633551" class="contacts-map__text">+7(499) 763-35-51</a>
                        <span class="contacts-map__label txt20">Телефон</span>
                    </li>
                    <li class="contacts-map__list-item">
                        <a href="tel:79859900750" class="contacts-map__text">+7(985) 990-07-50</a>
                        <span class="contacts-map__label txt20">Ведущий менеджер отдела франчайзинга</span>
                    </li>
                    <li class="contacts-map__list-item">
                        <a href="tel:79160385455" class="contacts-map__text">+7(916) 038-54-55</a>
                        <span class="contacts-map__label txt20">Руководитель отдела франчайзинга</span>
                    </li>
                    <li class="contacts-map__list-item">
                        <a href="mailto:admin@modaperbambini.ru" class="contacts-map__text"
                            >admin@modaperbambini.ru</a
                        >
                        <span class="contacts-map__label txt20">Почта</span>
                    </li>
                </ul>
            </div>
            <div id="contacts-map" class="contacts-map__map"></div>
        </div>
    </div>
</section>
