<section id="economy-screen" class="economy">
    <div class="economy__container container">
        <div class="economy__image-wrap">
            <img src="./assets/images/bg/NET Desktop KIDS Very.webp" alt="" class="economy__image" />
        </div>
        <div class="economy__content">
            <span class="economy__heading h h_h1">Экономика</span>
            <ul class="economy__list">
                <li class="economy__list-item">
                    <div class="economy__icon i-btn i-btn_bg">
                        <svg><use href="#wallet-icon"></use></svg>
                    </div>
                    <div class="economy__text">
                        <span class="economy__subtitle h h_h2">От 2 млн руб</span>
                        <span class="economy__text-content txt20">Средняя выручка в регионах</span>
                    </div>
                </li>
                <li class="economy__list-item">
                    <div class="economy__icon i-btn i-btn_bg">
                        <svg><use href="#card-icon"></use></svg>
                    </div>
                    <div class="economy__text">
                        <span class="economy__subtitle h h_h2">От 15% годовых</span>
                        <span class="economy__text-content txt20">Доходность инвестиций</span>
                    </div>
                </li>
                <li class="economy__list-item">
                    <div class="economy__icon i-btn i-btn_bg">
                        <svg><use href="#calendar-icon"></use></svg>
                    </div>
                    <div class="economy__text">
                        <span class="economy__subtitle h h_h2">От 1 года</span>
                        <span class="economy__text-content txt20">Окупаемость инвестиций на открытие</span>
                    </div>
                </li>
                <li class="economy__list-item">
                    <div class="economy__icon i-btn i-btn_bg">
                        <svg><use href="#discount-icon"></use></svg>
                    </div>
                    <div class="economy__text">
                        <span class="economy__subtitle h h_h2">170-220%</span>
                        <span class="economy__text-content txt20">Средняя наценка на товар</span>
                    </div>
                </li>
                <li class="economy__list-item">
                    <div class="economy__icon i-btn i-btn_bg">
                        <svg><use href="#clock-icon"></use></svg>
                    </div>
                    <div class="economy__text">
                        <span class="economy__subtitle h h_h2">2-2.5 месяца</span>
                        <span class="economy__text-content txt20">2-2.5 месяца срок запуска магазина</span>
                    </div>
                </li>
                <li class="economy__list-item">
                    <div class="economy__icon i-btn i-btn_bg">
                        <svg><use href="#coin-icon"></use></svg>
                    </div>
                    <div class="economy__text">
                        <span class="economy__subtitle h h_h2">Роялти и паушальный взнос</span>
                        <span class="economy__text-content txt20">Отсутствуют</span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>
