<section id="facts-screen" class="facts">
    <div class="facts__container container">
        <div class="facts__head">
            <span class="facts__heading h h_h1">Факты о нашей компании</span>
        </div>
        <div class="facts__body">
            <div class="facts__grid">
                <div class="facts__cell facts__cell_has-image">
                    <div class="facts__image-wrap">
                        <img
                            class="facts__image"
                            src="./assets/images/bg/11a063cb4dcdab19b0a5902e831c992b.webp"
                            alt=""
                        />
                    </div>
                </div>
                <div class="facts__cell">
                    <span class="facts__subtitle">500 м²</span>
                    <span class="facts__text txt20">шоу-рум в Москве</span>
                </div>
                <div class="facts__cell facts__cell_large">
                    <span class="facts__subtitle">1000 м²</span>
                    <span class="facts__text txt20">собственный склад в Москве</span>
                </div>

                <div class="facts__cell facts__cell_has-image">
                    <div class="facts__image-wrap">
                        <img
                            class="facts__image"
                            src="./assets/images/bg/ddb47fd2f9fe59022151dba0b9ff9490.webp"
                            alt=""
                        />
                    </div>
                </div>
                <div class="facts__cell">
                    <span class="facts__subtitle">200</span>
                    <span class="facts__text txt20">партнеров в России и СНГ</span>
                </div>
                <div class="facts__cell">
                    <span class="facts__subtitle">25</span>
                    <span class="facts__text txt20">магазинов</span>
                </div>

                <div class="facts__cell facts__cell_has-image">
                    <div class="facts__image-wrap">
                        <img
                            class="facts__image"
                            src="./assets/images/bg/9aabcd00dd3e8c41ebac93064d6adbf2.webp"
                            alt=""
                        />
                    </div>
                </div>
                <div class="facts__cell facts__cell_has-link">
                    <a href="#" class="facts__btn btn btn_secondary">
                        <span class="btn__txt">о компании</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
