<section id="faq-screen" class="faq">
    <div class="faq__container container">
        <div class="faq__head">
            <span class="faq__heading h h_h1">Часто задаваемые вопросы</span>
        </div>
        <div class="faq__body">
            <div data-accordion-tabs class="faq__tabs-wrap">
                <div class="faq__tabs accordion-tabs">
                    <div class="accordion-tabs__tab">
                        <button type="button" data-accordion-tabs-item class="accordion-tabs__title tab">
                            <span class="tab__txt">Сколько стоит франшиза?</span>
                            <span class="tab__icon">
                                <svg><use href="#sel-arr"></use></svg>
                            </span>
                        </button>
                        <div data-accordion-tabs-content class="accordion-tabs__content">
                            <div class="accordion-tabs__text-wrap">
                                <p class="accordion-tabs__text">
                                    Наилучшим образом подойдет помещение в самом лучшем торговом центре вашего
                                    города, с высокой проходимостью и целевым трафиком. Обычно в торговых
                                    центрах такого плана уже расположены магазины мировых брендов или брендов
                                    федерального уровня. Важно наличие конкурентного окружения в детском
                                    сегменте. Можно ориентироваться на такие магазины как Motherbear, Детский
                                    Мир, Gulliver, Acoola и другие.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="accordion-tabs__tab">
                        <button type="button" data-accordion-tabs-item class="accordion-tabs__title tab">
                            <span class="tab__txt"
                                >Где лучше открывать магазин? Как подбирать помещение?</span
                            >
                            <span class="tab__icon">
                                <svg><use href="#sel-arr"></use></svg>
                            </span>
                        </button>
                        <div data-accordion-tabs-content class="accordion-tabs__content">
                            <div class="accordion-tabs__text-wrap">
                                <p class="accordion-tabs__text">
                                    2 Наилучшим образом подойдет помещение в самом лучшем торговом центре
                                    вашего города, с высокой проходимостью и целевым трафиком. Обычно в
                                    торговых центрах такого плана уже расположены магазины мировых брендов или
                                    брендов федерального уровня. Важно наличие конкурентного окружения в
                                    детском сегменте. Можно ориентироваться на такие магазины как Motherbear,
                                    Детский Мир, Gulliver, Acoola и другие.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="accordion-tabs__tab">
                        <button type="button" data-accordion-tabs-item class="accordion-tabs__title tab">
                            <span class="tab__txt">Как быстро можно открыть магазин?</span>
                            <span class="tab__icon">
                                <svg><use href="#sel-arr"></use></svg>
                            </span>
                        </button>
                        <div data-accordion-tabs-content class="accordion-tabs__content">
                            <div class="accordion-tabs__text-wrap">
                                <p class="accordion-tabs__text">
                                    3 Наилучшим образом подойдет помещение в самом лучшем торговом центре
                                    вашего города, с высокой проходимостью и целевым трафиком. Обычно в
                                    торговых центрах такого плана уже расположены магазины мировых брендов или
                                    брендов федерального уровня. Важно наличие конкурентного окружения в
                                    детском сегменте. Можно ориентироваться на такие магазины как Motherbear,
                                    Детский Мир, Gulliver, Acoola и другие.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="accordion-tabs__tab">
                        <button type="button" data-accordion-tabs-item class="accordion-tabs__title tab">
                            <span class="tab__txt">Как быстро можно вернуть инвестиции?</span>
                            <span class="tab__icon">
                                <svg><use href="#sel-arr"></use></svg>
                            </span>
                        </button>
                        <div data-accordion-tabs-content class="accordion-tabs__content">
                            <div class="accordion-tabs__text-wrap">
                                <p class="accordion-tabs__text">
                                    4 Наилучшим образом подойдет помещение в самом лучшем торговом центре
                                    вашего города, с высокой проходимостью и целевым трафиком. Обычно в
                                    торговых центрах такого плана уже расположены магазины мировых брендов или
                                    брендов федерального уровня. Важно наличие конкурентного окружения в
                                    детском сегменте. Можно ориентироваться на такие магазины как Motherbear,
                                    Детский Мир, Gulliver, Acoola и другие.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="accordion-tabs__tab">
                        <button type="button" data-accordion-tabs-item class="accordion-tabs__title tab">
                            <span class="tab__txt">Как вы помогаете в ведении бизнеса?</span>
                            <span class="tab__icon">
                                <svg><use href="#sel-arr"></use></svg>
                            </span>
                        </button>
                        <div data-accordion-tabs-content class="accordion-tabs__content">
                            <div class="accordion-tabs__text-wrap">
                                <p class="accordion-tabs__text">
                                    5 Наилучшим образом подойдет помещение в самом лучшем торговом центре
                                    вашего города, с высокой проходимостью и целевым трафиком. Обычно в
                                    торговых центрах такого плана уже расположены магазины мировых брендов или
                                    брендов федерального уровня. Важно наличие конкурентного окружения в
                                    детском сегменте. Можно ориентироваться на такие магазины как Motherbear,
                                    Детский Мир, Gulliver, Acoola и другие.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="accordion-tabs__tab">
                        <button type="button" data-accordion-tabs-item class="accordion-tabs__title tab">
                            <span class="tab__txt">Минимальная сумма инвестиций в открытие?</span>
                            <span class="tab__icon">
                                <svg><use href="#sel-arr"></use></svg>
                            </span>
                        </button>
                        <div data-accordion-tabs-content class="accordion-tabs__content">
                            <div class="accordion-tabs__text-wrap">
                                <p class="accordion-tabs__text">
                                    6 Наилучшим образом подойдет помещение в самом лучшем торговом центре
                                    вашего города, с высокой проходимостью и целевым трафиком. Обычно в
                                    торговых центрах такого плана уже расположены магазины мировых брендов или
                                    брендов федерального уровня. Важно наличие конкурентного окружения в
                                    детском сегменте. Можно ориентироваться на такие магазины как Motherbear,
                                    Детский Мир, Gulliver, Acoola и другие.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="accordion-tabs__tab">
                        <button type="button" data-accordion-tabs-item class="accordion-tabs__title tab">
                            <span class="tab__txt">Предоставляете ли вы эксклюзив на город?</span>
                            <span class="tab__icon">
                                <svg><use href="#sel-arr"></use></svg>
                            </span>
                        </button>
                        <div data-accordion-tabs-content class="accordion-tabs__content">
                            <div class="accordion-tabs__text-wrap">
                                <p class="accordion-tabs__text">
                                    7 Наилучшим образом подойдет помещение в самом лучшем торговом центре
                                    вашего города, с высокой проходимостью и целевым трафиком. Обычно в
                                    торговых центрах такого плана уже расположены магазины мировых брендов или
                                    брендов федерального уровня. Важно наличие конкурентного окружения в
                                    детском сегменте. Можно ориентироваться на такие магазины как Motherbear,
                                    Детский Мир, Gulliver, Acoola и другие.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div data-accordion-tabs-body class="faq__tab-container"></div>
            </div>
            <div class="faq__image-wrap">
                <img
                    src="./assets/images/bg/Boboli_Campaign_Natures_tempo_SS2.webp"
                    alt=""
                    class="faq__image"
                />
            </div>
        </div>
    </div>
</section>
