<section id="hero-screen" class="hero hero_franchising">
    <div class="hero__container container">
        <div class="hero__head">
            <span class="hero__heading h h_large">Франчайзинг</span>
        </div>
        <div class="hero__body">
            <div class="hero__carousel">
                <div class="hero__swiper swiper">
                    <ul class="hero__swiper-wrapper swiper-wrapper">
                        <li class="hero__swiper-slide swiper-slide-hero swiper-slide">
                            <div class="swiper-slide-hero__image-wrap">
                                <img
                                    class="swiper-slide-hero__image"
                                    src="./assets/images/bg/969b06226aebe3b012b6c3e700f75011.webp"
                                    alt=""
                                />
                            </div>
                        </li>
                        <li class="hero__swiper-slide swiper-slide-hero swiper-slide">
                            <div class="swiper-slide-hero__image-wrap">
                                <img
                                    class="swiper-slide-hero__image"
                                    src="./assets/images/bg/5cd59e8aea52bb42493a883802d250c9.webp"
                                    alt=""
                                />
                            </div>
                        </li>
                        <li class="hero__swiper-slide swiper-slide-hero swiper-slide">
                            <div class="swiper-slide-hero__image-wrap">
                                <img
                                    class="swiper-slide-hero__image"
                                    src="./assets/images/bg/5d747e2129afc99eb94255f96a1a2965.webp"
                                    alt=""
                                />
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="hero__carousel-pagination carousel-pagination"></div>
        </div>
    </div>
</section>
