<section class="franchising-hero">
    <div class="franchising-hero__container container">
        <div class="franchising-hero__head">
            <span class="franchising-hero__heading h h_large">Франчайзинг</span>
        </div>
        <div class="franchising-hero__body">
            <div class="franchising-hero__swiper swiper">
                <ul class="franchising-hero__swiper-wrapper swiper-wrapper">
                    <li class="franchising-hero__swiper-slide slide-franchising-hero swiper-slide">
                        <div class="slide-franchising-hero__image-wrap">
                            <img
                                class="slide-franchising-hero__image"
                                src="./assets/images/bg/969b06226aebe3b012b6c3e700f75011.webp"
                                alt=""
                            />
                        </div>
                    </li>
                    <li class="franchising-hero__swiper-slide slide-franchising-hero swiper-slide">
                        <div class="slide-franchising-hero__image-wrap">
                            <img
                                class="slide-franchising-hero__image"
                                src="./assets/images/bg/5cd59e8aea52bb42493a883802d250c9.webp"
                                alt=""
                            />
                        </div>
                    </li>
                    <li class="franchising-hero__swiper-slide slide-franchising-hero swiper-slide">
                        <div class="slide-franchising-hero__image-wrap">
                            <img
                                class="slide-franchising-hero__image"
                                src="./assets/images/bg/5d747e2129afc99eb94255f96a1a2965.webp"
                                alt=""
                            />
                        </div>
                    </li>
                </ul>
            </div>
            <div class="franchising-hero__carousel-pagination carousel-pagination"></div>
        </div>
    </div>
</section>
