<section class="history">
    <div class="container">
        <div class="history__title h_h1">История компании</div>
        <div class="history__wrapper">
            <div class="history__box">
                <div class="history__box-circle"></div>
                <div class="history__box-date">1998</div>
                <div class="history__box-text">Эксклюзивно
                    представляем 5
                    ведущих
                    производителей одежды и обуви из
                    Италии</div>
            </div>
            <div class="history__box">
                <div class="history__box-circle"></div>
                <div class="history__box-date">2010</div>
                <div class="history__box-text">Эксклюзивно
                    представляем 5
                    ведущих
                    производителей одежды и обуви из
                    Италии</div>
            </div>
            <div class="history__box">
                <div class="history__box-circle"></div>
                <div class="history__box-date">2017</div>
                <div class="history__box-text">Эксклюзивно
                    представляем 5
                    ведущих
                    производителей одежды и обуви из
                    Италии</div>
            </div>
            <div class="history__box">
                <div class="history__box-circle"></div>
                <div class="history__box-date">2020</div>
                <div class="history__box-text">Эксклюзивно
                    представляем 5
                    ведущих
                    производителей одежды и обуви из
                    Италии</div>
            </div>
            <div class="history__box">
                <div class="history__box-circle"></div>
                <div class="history__box-date">2021</div>
                <div class="history__box-text">Эксклюзивно
                    представляем 5
                    ведущих
                    производителей одежды и обуви из
                    Италии</div>
            </div>
        </div>
    </div>
</section>