<section class="mission">
    <div class="container">
        <div class="mission__wrapper">
            <div class="mission__title h_h1">В качестве своей миссии мы видим наполнение российского рынка доступной,  стильной и качественной одеждой и обувью для детей.  </div>
            <div class="mission__content">
                <div class="mission__box">
                    <div class="mission__box-title">Миссия</div>
                    <div class="mission__box-text">Мы строим бизнес-сообщество, наполненное новыми  интересными инновационными идеями, с партнерами, которые  любят всё, что относится к миру детской моды.  Мы выстраиваем международное сотрудничество, позволяющее  нам с полной уверенностью говорить о том, что в Россию  импортируются лучшие коллекции детской одежды. </div>
                </div>
                <div class="mission__box">
                    <div class="mission__box-title">Наше видение</div>
                    <div class="mission__box-text">Мы  систематизировали все наши накопленные знания розничного  рынка детской одежды и готовы делиться нашим опытом с  партнерами по всей стране. Мы нацелены на выстраивание широкой партнерской сети среди  тех, кто также как и мы любит детскую моду, но рассматривает  все бизнес-процессы с полной серьезностью</div>
                </div>
            </div>
        </div>
    </div>
</section>