<section class="not-found">
    <div class="not-found__container container">
        <div class="not-found__body">
            <span class="not-found__heading h h_large">404</span>
            <p class="not-found__text txt20">
                Возможно страница устарела, была удалена, или был введен неверный адрес в адресной строке.
            </p>
            <a href="#" class="not-found__btn btn btn_primary">
                <span class="btn__txt">на главную</span>
            </a>
        </div>
        <div class="not-found__carousel">
            <div class="not-found__swiper swiper">
                <ul class="not-found__swiper-wrapper swiper-wrapper">
                    <li class="not-found__swiper-slide slide-not-found swiper-slide">
                        <div class="slide-not-found__image-wrap">
                            <img
                                src="./assets/images/bg/24_PE_TH2_LEchappeeBasque_Shooting_Kids_1157.webp"
                                alt=""
                                class="slide-not-found__image"
                            />
                        </div>
                    </li>
                    <li class="not-found__swiper-slide slide-not-found swiper-slide">
                        <div class="slide-not-found__image-wrap">
                            <img
                                src="./assets/images/bg/24_PE_TH4_UnWeekendEnProvence_Shooting_Kids_1457.webp"
                                alt=""
                                class="slide-not-found__image"
                            />
                        </div>
                    </li>
                    <li class="not-found__swiper-slide slide-not-found swiper-slide">
                        <div class="slide-not-found__image-wrap">
                            <img
                                src="./assets/images/bg/20230719133659_3oags4awbo2ssogg4sgo4os80swgw804os8w88gso00wgsko0s.webp"
                                alt=""
                                class="slide-not-found__image"
                            />
                        </div>
                    </li>
                </ul>
            </div>
            <div class="not-found__swiper not-found__swiper_reversed swiper">
                <ul class="not-found__swiper-wrapper swiper-wrapper">
                    <li class="not-found__swiper-slide slide-not-found swiper-slide">
                        <div class="slide-not-found__image-wrap">
                            <img
                                src="./assets/images/bg/20230719133659_3oags4awbo2ssogg4sgo4os80swgw804os8w88gso00wgsko0s.webp"
                                alt=""
                                class="slide-not-found__image"
                            />
                        </div>
                    </li>
                    <li class="not-found__swiper-slide slide-not-found swiper-slide">
                        <div class="slide-not-found__image-wrap">
                            <img
                                src="./assets/images/bg/Snapinsta.app_368041705_718354796999069_1002889076718294835_n_1080.webp"
                                alt=""
                                class="slide-not-found__image"
                            />
                        </div>
                    </li>
                    <li class="not-found__swiper-slide slide-not-found swiper-slide">
                        <div class="slide-not-found__image-wrap">
                            <img
                                src="./assets/images/bg/VANCOUVER CUISINE-156.webp"
                                alt=""
                                class="slide-not-found__image"
                            />
                        </div>
                    </li>
                    <li class="not-found__swiper-slide slide-not-found swiper-slide">
                        <div class="slide-not-found__image-wrap">
                            <img
                                src="./assets/images/bg/Snapinsta.app_368041705_718354796999069_1002889076718294835_n_1080.webp"
                                alt=""
                                class="slide-not-found__image"
                            />
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
