<section  class="request">
    <div class="request__container container">
        <div class="request__image-wrap request__image-wrap_large">
            <img src="./assets/images/bg/request-frame.webp" alt="" class="request__image" />
        </div>
        <div class="request__body">
            <span class="request__heading h h_h1">Оставьте заявку</span>
            <p class="request__text txt20">
                Если вы дистрибьютор детских товаров, розничный или интернет-магазин — вы можете получить
                эксклюзивный доступ к нашим брендам.
            </p>
            <form action="#" data-dev class="request__form form-request">
                <div class="form-request__fields">
                    <div data-hint="Заполните поле" class="form-request__field input">
                        <input
                            data-validate
                            data-required
                            autocomplete="off"
                            type="text"
                            name="form[]"
                            placeholder="Имя"
                            class="input__field"
                        />
                    </div>
                    <div data-hint="Заполните поле" class="form-request__field input">
                        <input
                            data-tel-mask
                            data-validate
                            data-required
                            autocomplete="off"
                            type="tel"
                            name="form[]"
                            placeholder="Телефон"
                            class="input__field"
                        />
                    </div>
                </div>
                <div class="form-request__footer">
                    <p class="form-request__text fw-light">
                        Нажимая на кнопку, Вы принимаете условия пользовательского соглашения
                    </p>
                    <button type="submit" class="form-request__btn btn btn_primary">
                        <span class="btn__txt">Отправить</span>
                    </button>
                </div>
            </form>
        </div>
        <div class="request__image-wrap">
            <img src="./assets/images/bg/2ftgre4kuuod78.webp" alt="" class="request__image" />
        </div>
    </div>
</section>
