<section id="sale-screen" class="sale">
    <div class="sale__container container">
        <div class="sale__head">
            <div class="sale__heading h h_large">
                <span class="sale__heading-txt sale__heading-txt_left _cl">Sample</span>
                <span class="sale__heading-txt sale__heading-txt_right _cl">sale</span>
            </div>
            <div class="sale__badge badge txt20">24.03.2024</div>
            <div data-da=".sale__image-container,768,last" class="sale__image-wrap _cl">
                <img
                    class="sale__image"
                    src="./assets/images/bg/STAMPA FV200 RETRO MARINA BO_page-0001.webp"
                    alt=""
                />
            </div>
        </div>
        <div class="sale__body">
            <div class="sale__image-container"></div>
            <div class="sale__content">
                <ul class="sale__list">
                    <li class="sale__list-item h h_h2">Гранидиозная распродажа образцов  и остатков</li>
                    <li class="sale__list-item h h_h2">Оптовые цены</li>
                    <li class="sale__list-item h h_h2">Более 9000 единиц товара</li>
                </ul>
                <a href="#" class="sale__btn btn btn_primary">
                    <span class="btn__txt">Узнать больше</span>
                </a>
            </div>
        </div>
    </div>
</section>
