<section data-section-st class="shops-grid">
    <div class="shops-grid__container container">
        <div class="shops-grid__items">
            <div class="shops-grid__group">
                <a href="#" class="shops-grid__image-wrap"
                    ><img
                        src="./assets/images/bg/a2e77323135ce7b3c6c21eebe790d49c.webp"
                        alt=""
                        class="shops-grid__image"
                /></a>
                <a href="#" class="shops-grid__btn btn btn_secondary btn_secondary_red">
                    <span class="btn__txt">к покупкам</span>
                </a>
            </div>
            <div class="shops-grid__group">
                <a href="#" class="shops-grid__image-wrap"
                    ><img
                        src="./assets/images/bg/66ca943bf9fc5aac0cd582ee9e9c5e5f.webp"
                        alt=""
                        class="shops-grid__image"
                /></a>
                <a href="#" class="shops-grid__btn btn btn_secondary btn_secondary_red">
                    <span class="btn__txt">к покупкам</span>
                </a>
            </div>
        </div>
    </div>
</section>
