<section class="show-b">
    <div class="container">
        <div class="show-b__wrapper">
            <div class="show-b__left">
                <img src="./assets/images/show-b/left.png" alt="">
            </div>
            <div class="show-b__center">
                <div class="show-b__title">Шоу-рум</div>
                <div class="show-b__text">Детская одежда, обувь и аксессуары от этих брендов созданы с большой любовью и заботой о детях, а также соответствуют самым высоким стандартам качества и безопасности.
                </div>
                <a href="#" class="show-b__btn btn btn_primary">
                    <span class="btn__txt">стать нашим клиентом</span>
                </a>
            </div>
            <div class="show-b__right">
                <img src="./assets/images/show-b/right.png" alt="">
            </div>
        </div>
    </div>
</section>