<section id="shops-screen" class="shops">
    <div class="shops__container container">
        <div class="shops__body">
            <div class="shops__images">
                <div class="shops__image-wrap">
                    <img
                        class="shops__image"
                        src="./assets/images/bg/aaed9f51026d8f350ad7ee1cf1b2a868.webp"
                        alt=""
                    />
                </div>
                <div class="shops__image-wrap">
                    <img
                        class="shops__image"
                        src="./assets/images/bg/aaed9f51026d8f350ad7ee1cf1b2a868.webp"
                        alt=""
                    />
                </div>
                <div class="shops__image-wrap">
                    <img
                        class="shops__image"
                        src="./assets/images/bg/aaed9f51026d8f350ad7ee1cf1b2a868.webp"
                        alt=""
                    />
                </div>
                <div class="shops__carousel-pagination carousel-pagination"></div>
            </div>
            <div class="shops__content">
                <div class="shops__swiper swiper">
                    <ul class="shops__swiper-wrapper swiper-wrapper">
                        <li class="shops__swiper-slide slide-shops swiper-slide">
                            <span class="slide-shops__heading h h_h1">Примеры наших магазинов</span>
                            <div class="slide-shops__group">
                                <span class="slide-shops__subtitle h h_h2">ТЦ Капитолий</span>
                                <ul class="slide-shops__list">
                                    <li class="slide-shops__list-item txt20">
                                        <span class="slide-shops__label">Торговая площадь:</span>
                                        <span class="slide-shops__text">133 м</span>
                                    </li>
                                    <li class="slide-shops__list-item txt20">
                                        <span class="slide-shops__label">Год открытия: </span>
                                        <span class="slide-shops__text">2020</span>
                                    </li>
                                    <li class="slide-shops__list-item txt20">
                                        <span class="slide-shops__label">Стоимость оборудования:</span>
                                        <span class="slide-shops__text">1 056 000 рублей</span>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="shops__swiper-slide slide-shops swiper-slide">
                            <span class="slide-shops__heading h h_h1">Примеры наших магазинов</span>
                            <div class="slide-shops__group">
                                <span class="slide-shops__subtitle h h_h2">ТЦ Капитолий</span>
                                <ul class="slide-shops__list">
                                    <li class="slide-shops__list-item txt20">
                                        <span class="slide-shops__label">Торговая площадь:</span>
                                        <span class="slide-shops__text">133 м</span>
                                    </li>
                                    <li class="slide-shops__list-item txt20">
                                        <span class="slide-shops__label">Год открытия: </span>
                                        <span class="slide-shops__text">2020</span>
                                    </li>
                                    <li class="slide-shops__list-item txt20">
                                        <span class="slide-shops__label">Стоимость оборудования:</span>
                                        <span class="slide-shops__text">1 056 000 рублей</span>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="shops__swiper-slide slide-shops swiper-slide">
                            <span class="slide-shops__heading h h_h1">Примеры наших магазинов</span>
                            <div class="slide-shops__group">
                                <span class="slide-shops__subtitle h h_h2">ТЦ Капитолий</span>
                                <ul class="slide-shops__list">
                                    <li class="slide-shops__list-item txt20">
                                        <span class="slide-shops__label">Торговая площадь:</span>
                                        <span class="slide-shops__text">133 м</span>
                                    </li>
                                    <li class="slide-shops__list-item txt20">
                                        <span class="slide-shops__label">Год открытия: </span>
                                        <span class="slide-shops__text">2020</span>
                                    </li>
                                    <li class="slide-shops__list-item txt20">
                                        <span class="slide-shops__label">Стоимость оборудования:</span>
                                        <span class="slide-shops__text">1 056 000 рублей</span>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="shops__controls">
                    <div class="shops__swiper-navigation">
                        <button type="button" class="i-btn i-btn_arr-prev _has-hover">
                            <svg
                                width="32"
                                height="12"
                                viewBox="0 0 32 12"
                                fill="none"
                                xmlns="http://www.w3.org/2000/svg"
                            >
                                <path d="M32 6H2M2 6L7 1M2 6L7 11" stroke="#DA251E" stroke-width="1.5" />
                            </svg>
                        </button>
                        <button type="button" class="i-btn i-btn_arr-next _has-hover">
                            <svg
                                width="32"
                                height="12"
                                viewBox="0 0 32 12"
                                fill="none"
                                xmlns="http://www.w3.org/2000/svg"
                            >
                                <path d="M0 6H30M30 6L25 1M30 6L25 11" stroke="#DA251E" stroke-width="1.5" />
                            </svg>
                        </button>
                    </div>

                    <a href="#" class="shops__link btn btn_secondary">
                        <span class="btn__txt">магазины</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
