<section id="shop-hero-screen" class="shop-hero">
    <div class="shop-hero__container container">
        <div class="shop-hero__body">
            <span class="shop-hero__heading h h_h1">Интернет-магазин</span>
            <p class="shop-hero__text txt20">
                Наш холдинг развивает и расширяет на территории РФ и стран СНГ четыре успешных франчайзинговых
                проекта: Original Marines, Primigi, Boboli, Dpam  для детей от 0 до 16 лет. На данный момент
                под нашим чутким руководством успешно развиваются более 50 магазинов в самых крупных и
                престижных ТЦ в регионах России и СНГ.
            </p>
        </div>
        <div class="shop-hero__bg">
            <img class="shop-hero__bg-image" src="./assets/images/bg/2Y7DkpEu.webp" alt="" />
        </div>
    </div>
    <div class="shop-hero__logos">
        <a href="#" class="shop-hero__logo">
            <img src="./assets/images/brand/logocolor1.svg" alt="">
        </a>
        <a href="#" class="shop-hero__logo">
            <img src="./assets/images/brand/logocolor2.svg" alt="">
        </a>
    </div>
</section>
