<section class="show-d">
    <div class="container">
        <div class="show-d__wrapper">
            <div class="show-d__left">
                <div class="show-d__swiper swiper">
                    <div class="swiper-wrapper">
                        <div class="show-d__slide swiper-slide">
                            <div class="show-d__slide-image">
                                <img src="./assets/images/show-d/room.webp" alt="">
                            </div>
                        </div>
                        <div class="show-d__slide swiper-slide">
                            <div class="show-d__slide-image">
                                <img src="./assets/images/show-d/room.webp" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="show-d__carousel-pagination carousel-pagination"></div>
            </div>
            <div class="show-d__right">
                <div class="show-d__right-navigation">
                    <div class="show-d__right-navigation-prev">
                        <svg  viewBox="0 0 32 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M32 6H2M2 6L7 1M2 6L7 11" stroke="#DA251E" stroke-width="1.5"/>
                            </svg>
                    </div>
                    <div class="show-d__right-navigation-next">
                        <svg  viewBox="0 0 32 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 6H30M30 6L25 1M30 6L25 11" stroke="#DA251E" stroke-width="1.5"/>
                            </svg>
                    </div>
                </div>
                <div class="show-d__right-swiper swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="show-d__right-content">
                                <strong>Наш шоу-рум</strong>
                                <p>Историческое здание на Чистопрудном бульваре было построено в 1908 году на средства мецената Оловянникова и  подарено общине при церкви Троицы на Грязи. Здание декорировано уникальными барельефами, созданными  художником Сергеем Вашковым. Добраться можно в том числе за 5-7 минут от Метро Чистые пруды.</p>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="show-d__right-content">
                                <strong>Наш шоу-рум</strong>
                                <p>Историческое здание на Чистопрудном бульваре было построено в 1908 году на средства мецената Оловянникова и  подарено общине при церкви Троицы на Грязи. Здание декорировано уникальными барельефами, созданными  художником Сергеем Вашковым. Добраться можно в том числе за 5-7 минут от Метро Чистые пруды.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <a href="#" class="show-d__btn btn btn_secondary">
                    <span class="btn__txt">Контакты</span>
                </a>
            </div>
        </div>
    </div>
</section>