<section class="show-d">
    <div class="container">
        <div class="show-d__wrapper">
            <div class="show-d__left">
                <div class="show-d__swiper swiper">
                    <div class="swiper-wrapper">
                        <div class="show-d__slide swiper-slide">
                            <div class="show-d__slide-image">
                                <img src="./assets/images/show-d/room.webp" alt="">
                            </div>
                        </div>
                        <div class="show-d__slide swiper-slide">
                            <div class="show-d__slide-image">
                                <img src="./assets/images/show-d/room.webp" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="show-d__right">
                <div class="show-d__right-swiper swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="show-d__right-content">
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>