<section id="hero-screen" class="shops-hero">
    <div class="shops-hero__container container">
        <div id="hero-head" class="shops-hero__head">
            <span class="shops-hero__heading h h_large">Магазины</span>
            <p class="shops-hero__text txt20">
                Каждый бренд, представленный в портфеле нашей компании, отличается своим неповторимым стилем
                и дизайном. 
            </p>
        </div>
        <div id="hero-body" class="shops-hero__body">
            <div class="shops-hero__content">
                <div class="shops-hero__text-wrap txt20">
                    <p class="shops-hero__text">
                        Каждый бренд, представленный в портфеле нашей компании, отличается своим неповторимым
                        стилем и дизайном. 
                    </p>
                </div>
                <div class="shops-hero__swiper-navigation">
                    <button type="button" class="i-btn i-btn_arr-prev _has-hover">
                        <svg
                            width="32"
                            height="12"
                            viewBox="0 0 32 12"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                        >
                            <path d="M32 6H2M2 6L7 1M2 6L7 11" stroke="#DA251E" stroke-width="1.5" />
                        </svg>
                    </button>
                    <button type="button" class="i-btn i-btn_arr-next _has-hover">
                        <svg
                            width="32"
                            height="12"
                            viewBox="0 0 32 12"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                        >
                            <path d="M0 6H30M30 6L25 1M30 6L25 11" stroke="#DA251E" stroke-width="1.5" />
                        </svg>
                    </button>
                </div>
                <div class="shops-hero__thumbs-wrap">
                    <div class="shops-hero__thumbs-swiper swiper">
                        <ul class="shops-hero__thumbs-swiper-wrapper swiper-wrapper">
                            <li class="shops-hero__thumbs-swiper-slide slide-thumbs-shops-hero swiper-slide">
                                <div class="slide-thumbs-shops-hero__image-wrap">
                                    <img
                                        src="./assets/images/bg/f79ddfedf16532f5eaaef8ced411b88e.webp"
                                        alt=""
                                        class="slide-thumbs-shops-hero__image"
                                    />
                                </div>
                            </li>
                            <li class="shops-hero__thumbs-swiper-slide slide-thumbs-shops-hero swiper-slide">
                                <div class="slide-thumbs-shops-hero__image-wrap">
                                    <img
                                        src="./assets/images/bg/29d523a4a4d6ffd4c03b9af4475d426f.webp"
                                        alt=""
                                        class="slide-thumbs-shops-hero__image"
                                    />
                                </div>
                            </li>
                            <li class="shops-hero__thumbs-swiper-slide slide-thumbs-shops-hero swiper-slide">
                                <div class="slide-thumbs-shops-hero__image-wrap">
                                    <img
                                        src="./assets/images/bg/boboli_metropolis18.webp"
                                        alt=""
                                        class="slide-thumbs-shops-hero__image"
                                    />
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="shops-hero__carousel">
                <div class="shops-hero__swiper swiper">
                    <ul class="shops-hero__swiper-wrapper swiper-wrapper">
                        <li class="shops-hero__swiper-slide slide-shops-hero swiper-slide">
                            <div class="slide-shops-hero__image-wrap">
                                <img
                                    src="./assets/images/bg/f79ddfedf16532f5eaaef8ced411b88e.webp"
                                    alt=""
                                    class="slide-shops-hero__image"
                                />
                            </div>
                        </li>
                        <li class="shops-hero__swiper-slide slide-shops-hero swiper-slide">
                            <div class="slide-shops-hero__image-wrap">
                                <img
                                    src="./assets/images/bg/29d523a4a4d6ffd4c03b9af4475d426f.webp"
                                    alt=""
                                    class="slide-shops-hero__image"
                                />
                            </div>
                        </li>
                        <li class="shops-hero__swiper-slide slide-shops-hero swiper-slide">
                            <div class="slide-shops-hero__image-wrap">
                                <img
                                    src="./assets/images/bg/boboli_metropolis18.webp"
                                    alt=""
                                    class="slide-shops-hero__image"
                                />
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="shops-hero__carousel-pagination carousel-pagination"></div>
            </div>
        </div>
    </div>
</section>
