<section class="simple-d">
    <div class="container">
        <div class="simple-d__wrapper">
            <div class="simple-d__image">
                <img src="./assets/images/simple/girl1.png" alt="">
            </div>
            <div class="simple-d__content">
                <div class="simple-d__timer">
                    <span>До следующей распродажи</span>
                    <div id="countdown"></div>
                 </div>
                 <div class="simple-d__content-wrap">
                    <div class="simple-d__text">Приходите на распродажу зимней коллекции от MODAPERBAMBINI. Вы сможете купить одежду по самым выгодным ценам!</div>
                    <div class="simple-d__inner">
                        <div class="simple-d__info">
                            <strong>Где</strong>
                            <p>г. Москва, ул. Бауманская, д.11 строение 8</p>
                        </div>
                        <div class="simple-d__info">
                            <strong>Когда</strong>
                            <p>24.03.2024</p>
                        </div>
                    </div>
                 </div>
            </div>
           <div class="simple-d__mini-image">
                <img src="./assets/images/simple/girl2.png" alt="">
           </div>
            
        </div>
    </div>
</section>