<section data-heading-body-st class="steps">
    <div class="steps__container container">
        <div data-heading-st class="steps__head">
            <span class="steps__heading h h_h1">простые шаги к открытию и поддержка на каждом этапе</span>
        </div>
        <div data-body-st class="steps__body">
            <div class="steps__swiper swiper">
                <ul class="steps__swiper-wrapper swiper-wrapper">
                    <li class="steps__swiper-slide slide-steps swiper-slide">
                        <div class="slide-steps__head">
                            <div class="slide-steps__icon">
                                <svg><use href="#location-icon"></use></svg>
                            </div>
                            <span class="slide-steps__heading h h_h2">Оценка локации</span>
                        </div>
                        <div class="slide-steps__body">
                            <p class="slide-steps__text txt20">
                                Помощь в оценке локации. Оценка трафика, анализ конкурентного окружения
                            </p>
                        </div>
                    </li>
                    <li class="steps__swiper-slide slide-steps swiper-slide">
                        <div class="slide-steps__head">
                            <div class="slide-steps__icon">
                                <svg><use href="#document-icon"></use></svg>
                            </div>
                            <span class="slide-steps__heading h h_h2">Договор аренды</span>
                        </div>
                        <div class="slide-steps__body">
                            <p class="slide-steps__text txt20">
                                Анализ договора, помощь в согласовании необходимых условий
                            </p>
                        </div>
                    </li>
                    <li class="steps__swiper-slide slide-steps swiper-slide">
                        <div class="slide-steps__head">
                            <div class="slide-steps__icon">
                                <svg><use href="#maximize-icon"></use></svg>
                            </div>
                            <span class="slide-steps__heading h h_h2">Архитектурный проект</span>
                        </div>
                        <div class="slide-steps__body">
                            <p class="slide-steps__text txt20">
                                Создание плана расстановки оборудования, плана помещения и света.
                                Предоставление бренд-бука
                            </p>
                        </div>
                    </li>
                    <li class="steps__swiper-slide slide-steps swiper-slide">
                        <div class="slide-steps__head">
                            <div class="slide-steps__icon">
                                <svg><use href="#ruler-pen-icon"></use></svg>
                            </div>
                            <span class="slide-steps__heading h h_h2">Изготовление оборудования</span>
                        </div>
                        <div class="slide-steps__body">
                            <p class="slide-steps__text txt20">
                                Размещение заказа у рекомендованных поставщиков, контроль сроков, стоимости и
                                качества поставки
                            </p>
                        </div>
                    </li>
                    <li class="steps__swiper-slide slide-steps swiper-slide">
                        <div class="slide-steps__head">
                            <div class="slide-steps__icon">
                                <svg><use href="#people-icon"></use></svg>
                            </div>
                            <span class="slide-steps__heading h h_h2">Мерчендайзинг</span>
                        </div>
                        <div class="slide-steps__body">
                            <p class="slide-steps__text txt20">
                                Выезд профессионального мерчендайзера и тренера перед открытием
                            </p>
                        </div>
                    </li>
                    <li class="steps__swiper-slide slide-steps swiper-slide">
                        <div class="slide-steps__head">
                            <div class="slide-steps__icon">
                                <svg><use href="#equal-icon"></use></svg>
                            </div>
                            <span class="slide-steps__heading h h_h2">Рекламные кампании</span>
                        </div>
                        <div class="slide-steps__body">
                            <p class="slide-steps__text txt20">
                                Предоставление плана, механики, макетов, исходников. Уникальные коллаборации с
                                мировыми брендами.
                            </p>
                        </div>
                    </li>
                    <li class="steps__swiper-slide slide-steps swiper-slide">
                        <div class="slide-steps__head">
                            <div class="slide-steps__icon">
                                <svg><use href="#chart-icon"></use></svg>
                            </div>
                            <span class="slide-steps__heading h h_h2">Анализ и контроль</span>
                        </div>
                        <div class="slide-steps__body">
                            <p class="slide-steps__text txt20">
                                Еженедельный анализ продаж, составление рекомендаций по ведению акционной
                                активности, расчет подсортировки товара
                            </p>
                        </div>
                    </li>
                    <li class="steps__swiper-slide slide-steps swiper-slide">
                        <div class="slide-steps__head">
                            <div class="slide-steps__icon">
                                <svg><use href="#truck-icon"></use></svg>
                            </div>
                            <span class="slide-steps__heading h h_h2">Поставка товара</span>
                        </div>
                        <div class="slide-steps__body">
                            <p class="slide-steps__text txt20">
                                Гарантированная своевременная отгрузка заказанных коллекций. Возможность
                                межсезонного дозаказа товара.
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
