<section id="store-hero-screen" class="store-hero">
    <div class="store-hero__container container">
        <div class="store-hero__body">
            <span class="store-hero__heading h h_h1">Интернет-магазин</span>
            <p class="store-hero__text txt20">
                Наш холдинг развивает и расширяет на территории РФ и стран СНГ четыре успешных франчайзинговых
                проекта: Original Marines, Primigi, Boboli, Dpam  для детей от 0 до 16 лет. На данный момент
                под нашим чутким руководством успешно развиваются более 50 магазинов в самых крупных и
                престижных ТЦ в регионах России и СНГ.
            </p>
        </div>
        <div class="store-hero__bg">
            <img class="store-hero__bg-image" src="./assets/images/bg/2Y7DkpEu.webp" alt="" />
        </div>
    </div>
</section>
