<section id="wholesale-hero-screen" class="wholesale-hero">
    <div class="wholesale-hero__container container">
        <div class="wholesale-hero__main">
            <div class="wholesale-hero__body">
                <div class="wholesale-hero__head">
                    <span class="wholesale-hero__heading h h_h1">ОПТовое направление</span>
                </div>
                <div class="wholesale-hero__content">
                    <div class="wholesale-hero__text-wrap txt20">
                        <p class="wholesale-hero__text">
                            Мы систематизировали все наши накопленные знания розничного рынка детской одежды и
                            готовы делиться нашим опытом с партнерами по всей стране.
                        </p>
                        <p class="wholesale-hero__text">
                            Мы нацелены на выстраивание широкой партнерской сети среди тех, кто также как и мы
                            любит детскую моду, но рассматривает все бизнес-процессы с полной серьезностью
                        </p>
                    </div>
                </div>
            </div>
            <div class="wholesale-hero__images">
                <div class="wholesale-hero__image-wrap wholesale-hero__image-wrap_large">
                    <img
                        src="./assets/images/bg/11de18388a9b8fddcdb6f32c5c832616.webp"
                        alt=""
                        class="wholesale-hero__image"
                    />
                </div>
                <div class="wholesale-hero__image-group">
                    <div class="wholesale-hero__image-wrap">
                        <img
                            src="./assets/images/bg/8fc93f4291ebf3de3bcb190d3b42f73e.webp"
                            alt=""
                            class="wholesale-hero__image"
                        />
                    </div>
                    <button type="button" class="wholesale-hero__btn btn btn_primary">
                        <span class="btn__txt">Оставить заявку</span>
                    </button>
                </div>
            </div>
        </div>
        <div data-section-st class="wholesale-hero__brands-carousel brands-carousel">
            <div class="brands-carousel__swiper swiper">
                <ul class="brands-carousel__swiper-wrapper swiper-wrapper">
                    <li class="brands-carousel__swiper-slide slide-brands-carousel swiper-slide">
                        <div class="slide-brands-carousel__icon">
                            <svg><use href="#original-marines-text-color-logo"></use></svg>
                        </div>
                    </li>
                    <li class="brands-carousel__swiper-slide slide-brands-carousel swiper-slide">
                        <div class="slide-brands-carousel__icon">
                            <svg><use href="#boboli-color-logo"></use></svg>
                        </div>
                    </li>
                    <li class="brands-carousel__swiper-slide slide-brands-carousel swiper-slide">
                        <div class="slide-brands-carousel__icon">
                            <svg><use href="#jacadi-color-logo"></use></svg>
                        </div>
                    </li>
                    <li class="brands-carousel__swiper-slide slide-brands-carousel swiper-slide">
                        <div class="slide-brands-carousel__icon">
                            <svg><use href="#sergent-major-color-logo"></use></svg>
                        </div>
                    </li>
                    <li class="brands-carousel__swiper-slide slide-brands-carousel swiper-slide">
                        <div class="slide-brands-carousel__icon">
                            <svg><use href="#dpam-color-logo"></use></svg>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
