<header class="header">
    <div class="header__container container">
        <a href="/" class="header__logo"
            ><img class="header__logo-img" src="./assets/images/logo.svg" alt=""
        /></a>
        <nav data-da=".header-menu,768,last" class="header__nav">
            <a href="#" class="header__nav-link txt20">О компании</a>
            <a href="#" class="header__nav-link txt20">Бренды</a>
            <a href="#" class="header__nav-link txt20">Франчайзинг</a>
            <a href="#" class="header__nav-link txt20">Опт</a>
            <a href="#" class="header__nav-link txt20">Магазины</a>
            <a href="#" class="header__nav-link txt20">Интернет-магазин</a>
            <a href="#" class="header__nav-link tab tab_static txt20">Sample sale</a>
            <a href="#" class="header__nav-link txt20">Карьера</a>
            <a href="#" class="header__nav-link txt20">Контакты</a>
        </nav>
        <div class="header__hamburger hamburger">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
    <div class="header-menu"></div>
</header>
